// ---------------------------------------
// Teaser wrapper paragraph + included paragraphs
// ---
// Related:
// - paragraph/paragraph.scss (generic classes/behaviours)
// - paragraph/paragraph--wrapper-section.scss
// - node/teasers.scss
// ---------------------------------------

@use "../../../sass/abstracts" as *;

// General styles teaser_wrapper has in common with wrapper_section,
// e.g. intro inline in mode "side by side":
// see paragraphs.scss


// ---
// View mode: grid
// and view mode: default (deviation from teaser-unified default style, see teaser-unified.scss)

.paragraph--type--teaser-wrapper {
  &.paragraph--view-mode--grid,
  &.paragraph--view-mode--default {
    .field--type-entity-reference-revisions > .field__items {
      @extend %grid;
      @extend %grid-3;
    }

    article.teaser-curated {
      background: var(--oc-card-background);
      block-size: var(--oc-card-height-equalizer);
    }

    .intro {
      grid-column: 1 / -1;
      grid-row: 1;

      @include breakpoint(l) {
        grid-column: 1;
        grid-row: 1 / -1;
      }
    }
  }
}

// ---
// Grid exceptions for smaller amount of teasers

.paragraph--view-mode--grid .field--type-entity-reference-revisions > .field__items {

  &:not(:has(> .field__item:nth-child(2))) {
    @include breakpoint(m) {
      --oc-grid-item-count: 1;
    }
    @include breakpoint(l) {
      --oc-grid-item-count: 1;
    }
    @include breakpoint(xl) {
      --oc-grid-item-count: 2;
    }
    @include breakpoint(xxl) {
      --oc-grid-item-count: 2;
    }
  }
}

// ---
// Horizontal teasers based on available space
// To combine with :nth-child --oc-grid-item-count logic
// Related: views/views.scss

.paragraph--view-mode--grid .field--type-entity-reference-revisions > .field__items > .field__item {
  container-type: inline-size;

  @container (width > 48rem) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--oc-row-gap) var(--oc-gutter);
    }

    .teaser--top {
      grid-column: 1;
      grid-row: 1 / 3;
      @extend %image-fill;
      border-radius: var(--oc-card-radius-calculated) 0 0 var(--oc-card-radius-calculated);
    }

    .teaser--body {
      grid-column: 2;
      grid-row: 1;
    }

    .teaser--footer {
      grid-column: 2;
      grid-row: 2;
      align-content: end;
    }

    article.teaser-unified {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0;

      > div {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }

      .teaser--top {
        border-radius: var(--oc-card-radius-calculated);
        aspect-ratio: unset;
      }
    }
  }
}


// ---
// Less padding in side-by-side

//.teaser--wrapper.grid-1,
//.teaser--wrapper.side-by-side {
//  .teaser-unified .teaser--body {
//    @include breakpoint(l) {
//      padding-inline: 0;
//    }
//  }
//}
