// ---------------------------------------
// Unified teasers
// same layout for all bundles (nodes + taxonomy terms)
// ---
// Related: popovers.scss (popover anchor)
// ---------------------------------------

@use "../../sass/abstracts" as *;

.teaser-unified {
  display: grid;
  background: transparent;
  gap: 0;
  aspect-ratio: var(--oc-aspect-ratio-landscape-deriv);

  &:not(.teaser-curated) {
    --oc-card-height-equalizer: auto;
  }

  .teaser--top,
  .teaser--body,
  .teaser--footer {
    grid-row: 1;
    grid-column: 1;
  }

  .teaser--top {
    border-radius: var(--oc-card-radius-calculated);
    place-self: stretch;
  }

  .teaser--top img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .no-image {
    @extend %teaser-image-fallback;
  }

  .teaser--body {
    align-self: end;
  }

  .teaser--footer {
    align-self: end;
    justify-self: end;
  }

  .field--name-field-subtitle p {
    margin: 0;
  }

  .text-formatted:last-of-type p {
    margin-block-end: 0;
  }
}

// ---
// Custom overridable teasers

.teaser-curated.teaser-unified {
  background: transparent;
}

// ---
// Body field (teaser text) moved to "Quick info" popover
// See popovers.scss

.quick-info-toggle--wrapper {
  position: absolute;
  inset-inline-end: calc(0.25 * var(--oc-card-padding-inline));
  inset-block-end: calc(0.25 * var(--oc-card-padding-block));
}

.quick-info--toggle {
  @extend %icon-only;
  @include icon(info);
}

.quick-info--popover-content {
  max-inline-size: 20rem;
}

// ---
// Text overlaying image: linear gradient background (not changing in dark mode)

.teaser-unified {
  --teaser-overlay-color: var(--oc-color-teaser-overlay);

  .teaser--body {
    color: hsl(255, 0%, 100%);
  }

  .teaser--top::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(180deg, color-mix(in sRGB, var(--teaser-overlay-color) 0%, transparent) 0%, color-mix(in sRGB, var(--teaser-overlay-color) 2%, transparent) 10%, color-mix(in sRGB, var(--teaser-overlay-color) 8%, transparent) 20%, color-mix(in sRGB, var(--teaser-overlay-color) 18%, transparent) 30%, color-mix(in sRGB, var(--teaser-overlay-color) 32%, transparent) 40%, color-mix(in sRGB, var(--teaser-overlay-color) 50%, transparent) 50%, color-mix(in sRGB, var(--teaser-overlay-color) 65%, transparent) 60%, color-mix(in sRGB, var(--teaser-overlay-color) 76%, transparent) 70%, color-mix(in sRGB, var(--teaser-overlay-color) 84%, transparent) 80%, color-mix(in sRGB, var(--teaser-overlay-color) 90%, transparent) 90%, color-mix(in sRGB, var(--teaser-overlay-color) 93%, transparent) 100%);
    inset: 0 0 0 0;

    // ---
    // Variations

    //    180deg,
    //    hsla(0, 0%, 35.29%, 0) 0%,
    //    hsla(0, 0%, 34.53%, 0.034375) 16.36%,
    //    hsla(0, 0%, 32.42%, 0.125) 33.34%,
    //    hsla(0, 0%, 29.18%, 0.253125) 50.1%,
    //    hsla(0, 0%, 24.96%, 0.4) 65.75%,
    //    hsla(0, 0%, 19.85%, 0.546875) 79.43%,
    //    hsla(0, 0%, 13.95%, 0.675) 90.28%,
    //    hsla(0, 0%, 7.32%, 0.765625) 97.43%,
    //    hsla(0, 0%, 0%, 0.8) 100%

    //    180deg,
    //    hsla(0, 0%, 35%, 0) 0%,     // block start: transparent
    //    hsla(0, 0%, 34%, 0.03) 40%,
    //    hsla(0, 0%, 28%, 0.35) 50%,
    //    hsla(0, 0%, 22%, 0.65) 65%,
    //    hsla(0, 0%, 18%, 0.75) 80%,
    //    hsla(0, 0%, 12%, 0.8) 100%  // maximum dark (not absolute)
  }

  h3.teaser--title a {
    text-decoration: var(--oc-underline);
    color: hsl(255, 0%, 100%);
  }
}

// ---
// Special case: Teaser unified in teaser section view mode Default

.paragraph--type--teaser-wrapper.paragraph--view-mode--default {
  .teaser-curated {
    aspect-ratio: unset;

    .teaser--body {
      grid-row: 2;
      color: var(--oc-color-text);
    }

    .teaser--footer {
      grid-row: 3;
    }

    h3.teaser--title a {
      @extend %link-default;

      text-decoration: none;
    }
  }

  .teaser--top {
    border-radius: var(--oc-card-radius-calculated) var(--oc-card-radius-calculated) 0 0;

    &::after {
      display: none;
      background-image: none;
    }
  }
}

// ---
// No height equalizer in slider

.slider-container {
  article.teaser-unified {
    block-size: auto;
  }

  .teaser-unified .teaser--top div {
    inline-size: auto;
    block-size: auto;
  }
  .teaser-unified .teaser--top img {
    inline-size: 100%;
    block-size: auto;
  }
}

// ---
// Prevent grid overflow

.field--name-field-references .teaser-unified {
  max-inline-size: 100%;
  aspect-ratio: var(--oc-aspect-ratio-landscape-deriv);
}

// --
// Exceptions for container-query-based quick-info/teaser text toggling
// Related: base/_reusables (.responsive-hide/reveal)

.paragraph--type--teaser-wrapper.paragraph--view-mode--default {
  .responsive-hide {
    display: block;
  }

  .responsive-reveal {
    display: none;
  }
}

// Slider (single slide)

.paragraph--view-mode--slider {
  @include breakpoint(m) {
    .responsive-hide {
      display: block;
    }

    .responsive-reveal {
      display: none;
    }
  }
}
