@charset "UTF-8";

.calendar--embed {
  background-color: #fff;
}

.calendar--embed * {
  font-family: sans-serif;
}

.calendar--embed a {
  text-decoration: underline;
  color: unset;
}

.calendar--embed a:focus,
.calendar--embed a:hover {
  text-decoration: none;
  color: var(--color-link);
  background-color: unset;
}
