.calendar--embed * {
  font-family: sans-serif;
}

.calendar--embed a {
  color: unset;
  text-decoration: underline;
}

.calendar--embed a:focus,
.calendar--embed a:hover {
  background-color: unset;
  text-decoration: none;
  color: var(--color-link);
}
