.node--type-location.node--view-mode-teaser {
  text-align: left;
  margin: $grid-gutter 0;

  &.with-image {
    @include grid(auto 1fr);
    align-items: center;
  }

  .profile--picture {
    text-align: center;
    max-width: 8rem;
  }

  .profile--content {
    h4, h3 {
      @include typo(teaser);
      margin: 0 0 0.25rem 0;
    }

    .field:first-child {
      margin-top: 0;
    }
    .field:last-child {
      margin-bottom: 0;
    }
  }
}
