/**
  * Custom CSS file
  *
  * If you want to write your CSS customizations without a SCSS compiler, you can add them to this file.
  * It will never be overwritten by the compiler, so all your custom,
  * manufactured changes to this file will stay consistent.
  *
  * See the readme for more info.
  * ... and belive me: you should prefer SASS.
 */

/* Following some badly designed examples */

/**
 * Override default colors
 *
 * they are changeable Color Module settings and you SHOULD use this UI based approach.
 *
 * But you MAY also redifine any variable at your own risk.
 * If you didn't disable css_color_variables module, you need body.has-css-color-variables selector.
.has-css-color-variables {
  --color-primary: firebrick;
  --color-interaction: forestgreen;
  --color-text: #000;
  --color-text-muted: #7b7d85;
  --color-text-inverted: #ffffff;
  --color-headline: darkgreen;
  --color-link: firebrick;
  --color-danger: #d01619;
  --color-info: #1f71b8;
  --color-success: #188009;
  --color-warning: #ffc400;
  --color-neutral-canvas: forestgreen;
  --color-bg-dark: #303236;
  --color-bg-slight-contrast: firebrick;
  --color-bg-light: goldenrod;
  --color-divider-light: #e8e9eb;
  --color-divider-dark: #7b7d85;

  --color-bg-danger: var(--color-danger-lighten-85, #f9dcdd);
  --color-danger-dark: var(--color-danger-darken-25, #a00f12);
  --color-bg-info: var(--color-info-lighten-85, #deeaf5);
  --color-info-dark: var(--color-info-darken-25, #18558a);
  --color-bg-success: var(--color-success-lighten-85, #ddecdb);
  --color-success-dark: var(--color-success-darken-25, #126007);
  --color-bg-warning: var(--color-warning-lighten-85, #fff7d9);
  --color-warning-dark: var(--color-warning-darken-25, #c09300);

  --color-bg-form: var(--color-interaction--lighten-95, #f6f6fa);
  --color-bg-fieldset: var(--color-interaction--opacity-4, #483d8b07);
  --color-box-shaddow: var(--color-box-shaddow, #483d8ba3);
  --outline-active: 2px dashed var(--color-interaction, #483d8b);
  --color-bg-cluster-icon: var(--color-link--opacity-64, #a1167fa3);
}
*/


/**
 * Change default font-sizes
 *
body {
  --font-size-xxl: 4rem;
  --font-size-xl: 1.5rem;
  --font-size-l: 1.25rem;
  --font-size-default: 1rem;
  --font-size-s: .875rem;
  --font-size-icon: 1.5rem;
}
*/

/*
Mind the unusual responsiceness in fonts defined in base theme.
@media screen and (min-width: 48rem) {
  body {
    --font-size-xxl: 6rem;
    --font-size-xl: 1.75rem;
  }
}
*/
