/web/**/*
/node_modules/**/*
/vendor/**/*
/.ddev/**/*
/scripts/js/
/profile/modules/custom/geofield_proximity_filter_extra/js/*.js
!/profile/modules/custom/geofield_proximity_filter_extra/js/*.es6.js
/profile/modules/custom/openculturas_custom/js/*.js
!/profile/modules/custom/openculturas_custom/js/*.es6.js
/profile/themes/
/profile/config/update/
