parameters:
	ignoreErrors:
		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_calendar_widget\\Controller\\OpenculturasCalendarWidgetController\:\:build\(\)" is 28, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_calendar_widget/src/Controller/OpenculturasCalendarWidgetController.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_calendar_widget\\Form\\SettingsForm\:\:buildForm\(\)" is 16, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_calendar_widget/src/Form/SettingsForm.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_calendar_widget\\Form\\SettingsForm\:\:submitForm\(\)" is 17, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_calendar_widget/src/Form/SettingsForm.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\EventSubscriber\\OpenculturasCustomConfigDevelSubscriber\:\:excludeOpenCulturasDiscussions\(\)" is 47, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/EventSubscriber/OpenculturasCustomConfigDevelSubscriber.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\EventSubscriber\\OpenculturasCustomConfigDevelSubscriber\:\:excludeOpenCulturasOpenStreetmapModule\(\)" is 22, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/EventSubscriber/OpenculturasCustomConfigDevelSubscriber.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\EventSubscriber\\OpenculturasCustomConfigDevelSubscriber\:\:excludeOpenCulturasSection\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/EventSubscriber/OpenculturasCustomConfigDevelSubscriber.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\EventSubscriber\\OpenculturasCustomConfigDevelSubscriber\:\:onConfigDevelSave\(\)" is 22, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/EventSubscriber/OpenculturasCustomConfigDevelSubscriber.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomDateEventHooks\:\:nodePrepareForm\(\)" is 23, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomDateEventHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomDateEventHooks\:\:nodeViewAlter\(\)" is 52, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomDateEventHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomDateEventHooks\:\:preprocessBlock\(\)" is 49, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomDateEventHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomDateEventHooks\:\:viewsPostExecute\(\)" is 18, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomDateEventHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomFaviconHooks\:\:metatagsAttachmentsAlter\(\)" is 16, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomFaviconHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomFlagHooks\:\:entityViewAlter\(\)" is 21, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomFlagHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomLeafletHooks\:\:libraryInfoAlter\(\)" is 37, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomLeafletHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Hook\\OpenculturasCustomNodeLifecycleHooks\:\:nodePresave\(\)" is 39, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Hook/OpenculturasCustomNodeLifecycleHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Plugin\\DateAugmenter\\AddToCal\:\:buildLinks\(\)" is 30, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Plugin/DateAugmenter/AddToCal.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_custom\\Plugin\\ExtraField\\Display\\ExtraFieldBase\:\:viewElements\(\)" is 34, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Plugin/ExtraField/Display/ExtraFieldBase.php

		-
			message: '#^Cognitive complexity for "openculturas_discussions_install\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_discussions/openculturas_discussions.install

		-
			message: '#^Cognitive complexity for "openculturas_discussions_modules_installed\(\)" is 63, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_discussions/openculturas_discussions.install

		-
			message: '#^Cognitive complexity for "openculturas_discussions_uninstall\(\)" is 60, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_discussions/openculturas_discussions.install

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_discussions\\Hook\\OpenculturasDiscussionsHooks\:\:nodePrepareForm\(\)" is 18, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_discussions/src/Hook/OpenculturasDiscussionsHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_media\\Plugin\\Field\\FieldFormatter\\DownloadUrlFormatter\:\:viewElements\(\)" is 23, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_media/src/Plugin/Field/FieldFormatter/DownloadUrlFormatter.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_media\\Plugin\\Field\\FieldFormatter\\DownloadWithMetaFormatter\:\:viewElements\(\)" is 25, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_media/src/Plugin/Field/FieldFormatter/DownloadWithMetaFormatter.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\AddressLookup\:\:jsonResultToLocation\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/AddressLookup.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\AddressLookup\:\:lookup\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/AddressLookup.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\EventSubscriber\\OpenculturasOpenStreetMapSubscriber\:\:onWizardLoadValues\(\)" is 17, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/EventSubscriber/OpenculturasOpenStreetMapSubscriber.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\Form\\OSM\\FindLocation\:\:buildForm\(\)" is 42, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/Form/OSM/FindLocation.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\Form\\OSM\\WizardFormTableBase\:\:buildForm\(\)" is 44, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/Form/OSM/WizardFormTableBase.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\Form\\SettingsForm\:\:validateForm\(\)" is 16, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/Form/SettingsForm.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\OpenStreetMap\\DrupalToOpenStreetMapTransformer\:\:transformMultiple\(\)" is 104, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/OpenStreetMap/DrupalToOpenStreetMapTransformer.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\OpenStreetMap\\OfficeHoursToOsmFormatter\:\:format\(\)" is 41, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/OpenStreetMap/OfficeHoursToOsmFormatter.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\Plugin\\Field\\FieldWidget\\OSMIDDefaultWidget\:\:rebuildFormSubmit\(\)" is 74, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/Plugin/Field/FieldWidget/OSMIDDefaultWidget.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_openstreetmap\\Wizard\\OSMFormWizard\:\:ajaxFinish\(\)" is 64, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_openstreetmap/src/Wizard/OSMFormWizard.php

		-
			message: '#^Cognitive complexity for "openculturas_section_install\(\)" is 17, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_section/openculturas_section.install

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_slimselect_bef\\Plugin\\better_exposed_filters\\filter\\SlimSelect\:\:exposedFormAlter\(\)" is 16, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_slimselect/modules/openculturas_slimselect_bef/src/Plugin/better_exposed_filters/filter/SlimSelect.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_teaser\\Plugin\\paragraphs\\Behavior\\TeaserBehaviorBase\:\:getBaseBuildArray\(\)" is 18, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_teaser/src/Plugin/paragraphs/Behavior/TeaserBehaviorBase.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_teaser\\Plugin\\paragraphs\\Behavior\\TeaserBehaviorBase\:\:getTeaserMediaId\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/modules/custom/openculturas_teaser/src/Plugin/paragraphs/Behavior/TeaserBehaviorBase.php

		-
			message: '#^Cognitive complexity for "openculturas_update_10127\(\)" is 29, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/openculturas.install

		-
			message: '#^Cognitive complexity for "openculturas_post_update_taxonomy_term_page_type_full_mood_image_class\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/openculturas.post_update.php

		-
			message: '#^Cognitive complexity for "Drupal\\opcult\\Hook\\OpcultHooks\:\:preprocessField\(\)" is 40, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/opcult/src/Hook/OpcultHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\opcult\\Hook\\OpcultHooks\:\:preprocessPage\(\)" is 19, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/opcult/src/Hook/OpcultHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\opcult\\Hook\\OpcultHooks\:\:preprocessParagraph\(\)" is 32, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/opcult/src/Hook/OpcultHooks.php

		-
			message: '#^Cognitive complexity for "opcult_form_system_theme_settings_alter\(\)" is 18, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/opcult/theme-settings.php

		-
			message: '#^Cognitive complexity for "opcult_form_system_theme_settings_form_submit\(\)" is 68, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/opcult/theme-settings.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_base\\Hook\\OpenculturasBaseHooks\:\:preprocessField\(\)" is 40, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/openculturas_base/src/Hook/OpenculturasBaseHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_base\\Hook\\OpenculturasBaseHooks\:\:preprocessNode\(\)" is 32, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/openculturas_base/src/Hook/OpenculturasBaseHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_base\\Hook\\OpenculturasBaseHooks\:\:preprocessPage\(\)" is 16, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/openculturas_base/src/Hook/OpenculturasBaseHooks.php

		-
			message: '#^Cognitive complexity for "Drupal\\openculturas_base\\Hook\\OpenculturasBaseHooks\:\:preprocessParagraph\(\)" is 30, keep it under 15$#'
			identifier: complexity.functionLike
			count: 1
			path: profile/themes/openculturas_base/src/Hook/OpenculturasBaseHooks.php
