parameters:
	ignoreErrors:
		-
			message: "#^Return type of call to method Drupal\\\\Core\\\\TypedData\\\\ListInterface\\<Drupal\\\\Core\\\\Field\\\\Plugin\\\\Field\\\\FieldType\\\\EntityReferenceItem\\<mixed\\>\\>\\:\\:first\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/openculturas_custom.module

		-
			message: "#^Return type of call to method Drupal\\\\Core\\\\TypedData\\\\ListInterface\\<Drupal\\\\Core\\\\Field\\\\Plugin\\\\Field\\\\FieldType\\\\EntityReferenceItem\\<mixed\\>\\>\\:\\:first\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/src/CurrentEntityHelper.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Plugin/ExtraField/Display/ExtraFieldBase.php
