includes:
    - phpstan-baseline.neon
parameters:
  level: 8
  scanDirectories:
    - web/
    - tests/
  paths:
    - profile/
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - "#^Method Drupal\\\\Core\\\\Form\\\\FormBuilderInterface\\:\\:getForm\\(\\) invoked with 2 parameters, 1 required\\.$#"
  excludePaths:
    - '*/node_modules/*'
    - 'profile/modules/custom/geofield_proximity_filter_extra/**'
    - profile/modules/custom/openculturas_custom/src/Plugin/DateAugmenter/AddToCal.php
    - '*/ProxyClass/*'
  drupal:
    entityMapping:
      flag:
        class: Drupal\flag\Entity\Flag
        storage: Drupal\flag\Entity\Storage\FlaggingStorage
