parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$page_theme_property of method Drupal\\\\Core\\\\Render\\\\BareHtmlPageRendererInterface\\:\\:renderBarePage\\(\\) expects string, null given\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_calendar_widget/src/Controller/OpenculturasCalendarWidgetController.php

		-
			message: "#^Return type of call to method Drupal\\\\Core\\\\TypedData\\\\ListInterface\\<Drupal\\\\Core\\\\Field\\\\Plugin\\\\Field\\\\FieldType\\\\EntityReferenceItem\\<mixed\\>\\>\\:\\:first\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/openculturas_custom.module

		-
			message: "#^Return type of call to method Drupal\\\\Core\\\\TypedData\\\\ListInterface\\<Drupal\\\\Core\\\\Field\\\\Plugin\\\\Field\\\\FieldType\\\\EntityReferenceItem\\<mixed\\>\\>\\:\\:first\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/src/CurrentEntityHelper.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Plugin/ExtraField/Display/ExtraFieldBase.php

		-
			message: "#^Call to an undefined method Drupal\\\\views\\\\Plugin\\\\views\\\\query\\\\QueryPluginBase\\:\\:addWhere\\(\\)\\.$#"
			count: 1
			path: profile/modules/custom/openculturas_custom/src/Plugin/views/filter/Date.php
