*:focus-visible {
  outline-color: var(--color-info);
  outline-offset: 2px;
}

// fallback for images with transparency
.media img {
  background-color: #eee;
}

@import "../base/dark.form"; // stylelint-disable-line no-invalid-position-at-import-rule
