// ---------------------------------------
// Breadcrumb navigation, aka crumb trail
// ---------------------------------------

@use "../../sass/abstracts" as *;

.region-breadcrumbs > .block {
  padding-block: var(--oc-row-gap);
}

.breadcrumbs {
  color: var(--oc-color-text-muted);
  font-size: var(--oc-font-size-s);

  ol {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    list-style: none;
    padding-inline: 0;
    gap: 0;

    // @include icon(gps);
  }

  li {
    // &:after {
    // content: '//\00A0';
    // }
  }

  nav a {
    @extend %link-menu;
    @include icon(caret-right, light, after);

    padding-inline: 0.25rem;

    &::after {
      transition: transform var(--oc-transition-duration) var(--oc-transition-timing-function);
    }

    &:focus::after,
    &:hover::after {
      transform: translateY(0.125em) rotate(180deg);
    }
  }
}
