// ---------------------------------------
// Call to action menu: curated menu for user dashboard
// ---------------------------------------

@use "../../sass/abstracts" as *;

.menu--call-to-action {
  --oc-font-size-icon: var(--oc-font-size-icon-xxl);
  .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: var(--oc-row-gap) 0;

    @include breakpoint(m) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--oc-row-gap) var(--oc-gutter);
    }
  }

  .menu-item {
    display: flex;
    border: 2px solid transparent;

    > a {
      align-items: center;

      // display: flex;
      padding: var(--oc-row-gap) var(--oc-gutter);
      color: var(--oc-color-text-inverted);
      border-color: transparent;
      border-radius: var(--oc-button-border-radius);
      background: linear-gradient(90deg, var(--oc-color-interaction), var(--oc-color-link));
      block-size: 100%;
      inline-size: 100%;

      // Icons: see base/_icons-ext.scss

      &:hover,
      &:focus {
        color: var(--oc-color-link-focus-text);
        background: var(--oc-color-link-focus-bg);
      }
    }

    @include breakpoint(m) {
      inline-size: calc(50% - var(--oc-gutter) / 2);
      min-block-size: 8rem;
    }
  }

  li.menu-item > a::before {
    transform: unset;
  }
}

// Grid layout

.menu--call-to-action {
  .menu-item a {
    display: grid;
    grid-template-columns: var(--oc-font-size-icon) auto;
    gap: 0 var(--oc-gutter);
  }

  .menu-link-title {
    grid-row: 1;
    grid-column: 2;
    font-size: var(--oc-font-size-m);
  }

  .menu-link-description {
    grid-row: 2;
    grid-column: 2;
  }
}
