// ---------------------------------------
// Basic menu styles
// ---------------------------------------

@use "../../sass/abstracts" as *;

// Gin navigation fix

.toolbar-button {
  display: flex !important;
}

.admin-toolbar__expand-button {
  --oc-button-border-radius: 50%;

  padding: revert;
}

.toolbar button.toolbar-icon:not([disabled]),
.toolbar-tray a,
.toolbar-tray a {
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

// Generic menu links

nav,
.menu,
.links {
  a {
    @extend %link-menu;
  }
}

.menu,
.links {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-block: 0;
  }
}

.menu {
  margin-inline-end: var(--oc-gutter);
}

.menu--header-highlights .menu {
  flex-flow: row wrap;
}

ul.menu ul {
  margin-inline-start: var(--oc-gutter);
}

// ---
// Main menu in header, visible in wider viewports ("highlights")

.header__highlights-menu {
  display: none;
  max-inline-size: 100%;

  .menu {
    gap: 1rem 2rem;
  }

  a {
    color: var(--oc-color-link);
    border-bottom-color: var(--oc-color-text);
    padding-block: 0.5em;
  }

  @include breakpoint(m) {
    display: block;
  }

  @include breakpoint(l) {
    margin-block: 1rem 0;
  }
}
