// ---------------------------------------
// Tabs = editor's menu
// ---
// Related: base/_icons-ext.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

.tabs {
  display: inline-flex;
  flex-flow: row wrap;
  margin-block-end: var(--oc-row-gap);
  list-style: none;
  gap: 0.5rem 1rem;
  padding-inline: 0;

  li {
    margin: 0.5rem 0;
  }

  // li.is-active {
  //  display: none;
  // }

  a {
    padding: 0.25em 1em;
    text-decoration: none;
    color: var(--oc-color-interaction);
    border-block-end: 0.0625rem solid var(--oc-color-bg-slight-contrast);

    &.is-active {
      border-block-end: 0.125rem solid var(--oc-color-interaction);
    }

    &:focus,
    &:hover {
      color: var(--oc-color-link);
      border-block-end: 0.125rem solid var(--oc-color-interaction);
      background-color: transparent;
    }
  }
}

.tabs.secondary {
  border-width: 0;
  background-color: transparent;
  padding-inline: 0;

  a {
    color: var(--oc-color-link);
    border: 0 solid currentColor;
    box-shadow: none;
    font-weight: var(--oc-font-weight-semi-bold);

    &.current {
      border-width: 0 0 3px;
      border-radius: 0;
      background: transparent;
    }

    &:focus,
    &:hover {
      color: var(--oc-color-text-inverted);
      background-color: var(--oc-color-interaction);
    }
  }
}
