.view-my-bookmarks {
  ul {
    margin-left: 0;
    padding-left: 0;
    margin: 0;
  }
  li {
    margin-bottom: $grid-gutter;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid $color-primary;
  }
  .flag {
    padding-left: .5rem;
    a:before {
      content: "X";
    }
  }
}
