.view-locations {
  [data-drupal-selector="edit-radius"] {
    border: 0;
    padding: 0;
  }
  .button--locate_me {
    margin-bottom: 0;
    background: $color-primary;
    color: $color-text-inverted;
  }
}
