// Explicitely for search view

.view-display-id-search_page {
  display: flex;
  flex-flow: column;

  .view-header { 
    order: -1;
    margin: 0;
  }
  .view-filters { 
    order: -2;
    margin-bottom: 0;
  }

}

