.pager {
  text-align: center;
  border: 1px solid var(--color-divider-light);
  border-width: 0;
  margin: calc($grid-gutter / 2) 0;
  ul {
    padding-left: 0;
    margin: .5em 0;
  }

  a:not(.button) {
    padding: .25em .5em;
  }
}
