.pager {
  .pager__item > a {
    background: $color-primary;
    border: 1px solid $color-text-inverted;
    border-radius: $button-border-radius;
    color: $color-text-inverted;
    display: inline-block;
    line-height: 1.8;
    padding-left: .5rem;
    padding-right: .5rem;

    &:focus,
    &:hover {
      background: $color-interaction;
      border-color: $color-interaction;
      color: $color-text-inverted;
    }
    &:active {
      background: transparent;
      border-color: transparent;
      color: $color-interaction;
    }
  }
}
