.node {
  &--view-mode-full > .node__content > .field--name-field-portrait {
    float: right;
    margin: 0 0 $grid-gutter $grid-gutter;
    max-width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  details {
    @include clearfix;
  }

  .flag {
    display: none;
  }
}
