.node--type-date {

  &.view-mode-compact {

    h3.teaser {
      margin-bottom: 0;
      margin-top: .25rem;
      > a {
        display: inline-block;
      }
      .field {
        margin: 0;
      }

    }

    .date {
      margin: 0;
    }
  }
}
