article.layout-wide > .node__content {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  max-width: 68.75rem;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0;
  margin-bottom: 1.25rem;
  min-height: 20rem;
}

body .block-system-main-block > article.layout-wide.view-mode-full {
  > .node__content > div.field--name-field-content-paragraphs {
    grid-column: 1/17;
  }

  .view {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    max-width: 68.75rem;
    grid-column-gap: 1.25rem;
    grid-row-gap: 0;
  }

  .view-header {
    grid-row: 1;
  }

  .view-filters {
    grid-row: 2;
  }

  .attachment-before {
    grid-row: 3;
  }

  .view-content {
    grid-row: 4;
  }

  .view-footer {
    grid-row: 5;
  }

  .pager {
    grid-row: 6;
    grid-column: 1 / -1;
  }

  .view-filters,
  .attachment-before {
    grid-column: 1 / 17;

    @include breakpoint(m) {
      grid-column: 2 / 16;
    }
  }

  .view-header {
    grid-column: 2 / 16;
  }

  .view-content,
  .view-empty,
  .view-footer {
    grid-column: 2 / 16;

    @include breakpoint(l) {
      grid-column: 4 / 14;
    }
  }

  .attachment {
    .view-content {
      grid-column: 1 / -1;
    }
    .view-header,
    .view-footer {
      grid-column: 2 / 16;
    }
  }

}

// @todo: possible further paragraphs on same page would need extra grid handling

