.node {
  &--view-mode-full > .node__content > .field--name-field-portrait {
    float: right;
    margin: 0 0 $grid-gutter $grid-gutter;
  }

  details {
    @include clearfix;
  }

  .flag {
    display: none;
  }
}
