.path-node {
  .region-content > .block-system-main-block {
    grid-column: 1/17;
  }
}

.node {
  details {
    @include clearfix;
  }

  .flag {
    display: none;
  }

  &.node--view-mode-full {

    > .node__content {
      @include grid;

      > details, > .field--type-text-with-summary, > div {
        @include content-grid-default;
      }

      > .slick--field-gallery {
        grid-column: 1/17;
      }
    }
  }
}
