.path-node {
  .region-content > .block-system-main-block {
    grid-column: 1 / -1;
    @include grid;

    > * {
      grid-column: 1 / -1;
    }

    > form {
      //grid-column: 2 / 16;
      margin: (2*$grid-gutter) $grid-gutter;


      //&.grid-child-fullwidth {
      //  grid-column: 1 / -1;
      //
      //  @include breakpoint(m) {
      //    grid-column: 1 / -1;
      //  }
      //}
    }
  }
}

.node {
  &.node--view-mode-full {
    > .node__content {
      @include grid;

      > details, > .field--type-text-with-summary, > div, > form {
        @include content-grid-default;

        &.grid-child-fullwidth {
          grid-column: 1 / -1;

          @include breakpoint(m) {
            grid-column: 1 / -1;
          }
        }
      }

    }
  }
}
