.teaser {
  @include all-headings {
    font-family: $font-base;
    font-size: $font-size-l; 
    font-weight: bold;
    letter-spacing: unset;
    line-height: 1.4;
  }
}

h1.teaser,
h2.teaser,
h3.teaser,
h4.teaser,
h5.teaser,
h6.teaser {
  font-family: $font-base;
  font-size: $font-size-l;
  font-weight: bold;
  letter-spacing: unset;
  line-height: 1.4;
}


.universal-teaser {
  margin: $grid-gutter 0;

  .field {
    margin: .5rem 0;
  }

  .teaser--top {
    @include clearfix;
  }

  //.field--name-field-portrait,
  .field--name-field-mood-image {
    display: block;
    max-width: 100%;

    @include breakpoint(m) {
      max-width: 30%;
      float: right;
      margin: 0 0 .5rem (2*$grid-gutter);
    }

    .field {
      margin: 0;
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .field--name-field-subtitle {
    font-weight: bold;
  }

  &.view-mode-compact {
    .field--name-field-subtitle {
      font-weight: normal;
      margin: 0;
    }
  }

  footer {
    margin-top: 1rem;

    @include breakpoint(m) {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .teaser--author {

    .field__items {
      float: left;
      display: flex;
      flex-flow: row wrap;
      gap: 0 (2 * $grid-gutter);

      .profile-teaser {
        margin-top: (0.5 * $grid-gutter);
        margin-bottom: 0;
      }

    }

    .teaser,
    .teaser a {
      color: $color-text;
      font-size: 1rem;
      font-weight: normal;
      margin: 0;

      &:hover {
        color: $color-text-inverted;
      }
    }

    .profile--picture {
      height: 3rem;
      width: 3rem;
      min-width: 3rem;

      &:before {
        font-size: 1.5rem;
        //top: .75rem;
      }
    }

    .field--name-field-subtitle {
      font-weight: normal;
    }
  }

  .teaser--date {
    margin-left: $grid-gutter;
    text-align: right;

  }
}
