.teaser {
  @include all-headings {
    font-family: $font-base;
    font-size: $font-size-teaser-heading;
    font-weight: bold;
    letter-spacing: unset;
    line-height: 1.4;
  }
}

h1.teaser,
h2.teaser,
h3.teaser,
h4.teaser,
h5.teaser,
h6.teaser {
  // TOSDO WAS @include typo(teaser);
  font-family: $font-base;
  font-size: $font-size-teaser-heading;
  font-weight: bold;
  letter-spacing: unset;
  line-height: 1.4;
}


.universal-teaser {
  margin: $grid-gutter 0;

  .field {
    margin: .5rem 0;
  }

  .teaser--top {
    @include clearfix;

    .field--name-field-mood-image,
    .field--name-field-portrait {
      display: block;
      width: 100%;

      @include breakpoint(m) {
        max-width: 30%;
        float: right;
        margin: 0 0 .5rem .5rem;
      }

      .field {
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
        margin-left: .75em;
      }
    }

    .field--name-field-subtitle {
      font-weight: bold;
    }
  }

  footer {
    margin-top: 1rem;

    @include breakpoint(m) {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .teaser--author {

    .teaser,
    .teaser a {
      color: $color-headline;
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }

    .profile--picture {
      height: 3rem;
      width: 3rem;

      &:before {
        font-size: 1.5rem;
        top: .75rem;
      }
    }
  }

  .teaser--date {
    margin-left: $grid-gutter;
    text-align: right;

  }
}

