//
// "Backend" of color schema UI in Frontend
//
//   @see: css-color-variables-ui.html.twig
//           at css_color_variables_ui module.
//
#color-schema-ui {
  top: 4rem;
  left: 4rem;
  font-size: small;
  background: var(--color-bg-slight-contrast);
  .actions:before {
    color: var(--color-text);
  }
}
