.content details {
  border: none;
  border-top: 1px solid $color-divider-light;
  margin: $grid-gutter 0 $grid-gutter*2;
  padding: $grid-gutter 0 0 0;

  > summary {
    position: relative;
    padding: 0;
    list-style: none;

    // Disable default marker element on webkit browsers.
    &::-webkit-details-marker { display:none; }

    > .h2 {
      @include typo(h3);
      display: inline-block;
      @include icon(chevron-down, fas, before);
      margin: 0 2rem 0 0;
      width: calc(100% - 2rem);

      &:hover,
      &:focus {
        color: $color-interaction;
      }

      &:before {
        position: absolute;
        right: 0;
        top: 0.15em;
        transition: transform 300ms ease;
      }
    }

    &.form-required {
      &:after {
        content: none;
      }

      h2 {
        &:after {
          content: '*';
          color: $color-danger;
        }
      }
    }
  }

  &[open] {
    > summary {
      > .h2 {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .details-wrapper {
    padding: $grid-gutter*2 0 0 0;

    > *:first-child {
      margin-top: 0;
    }
  }

}
