form {
  background: $color-bg-form;

  // Padding without adding padding to FORM Tag (which messes up button positioning).
  >.form--inline,
  >.form-item,
  >.form-wrapper,
  >[id*=ajax-wrapper] {
    //outline: 2px dashed green;
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
    width: auto !important;
    &:first-child {
      padding-top: $grid-gutter;
    }
    &:last-of-type {
      padding-bottom: $grid-gutter;
    }
  }

  .description {
    @include typo(small);
  }

  .js-hide {
    display: none!important;
  }

  .media-library-selection {
    margin: $grid-gutter 0;

    button[id*="remove"] {
      @include icon(times) {
        margin-right: 0.5rem;
      };
    }
  }

  .form-textarea-wrapper, .filter-wrapper {
    background: $color-bg-light;

    .cke_top,
    .cke_contents,
    .cke_bottom {
      background: $color-bg-light;
    }
  }

  .field-suffix .button {
    margin-bottom: $grid-gutter;
  }

  fieldset,
  fieldset.fieldgroup {
    padding: $grid-gutter $grid-gutter $grid-gutter $grid-gutter;
    background: $color-bg-fieldset;

    summary,
    legend {
      font-weight: bold;
      @include typo(allcaps);
    }

    fieldset,
    fieldset.fieldgroup {
      background: transparent;
    }
  }

  .form-required:after {
    background-image: none;
    content: '*';
    color: $color-danger;
    vertical-align: text-top;
  }



  .form-item {
    //outline: 2px dashed red;

    .description {
      @include typo(small);
    }

    label {
      display: block;
    }

    label.option {
      display: inline-block;
    }

    input,
    select,
    textarea {
      padding: 0.5rem 1rem;
      //line-height: 2rem;
      background: $color-bg-light;
      border: 1px solid $color-text;

      &:focus {
        border-bottom-color: $color-info;
        box-shadow: 0 -3px 0 inset $color-info;
      }

      .error {
        border: 1px solid $color-text;
        box-shadow: 0 -3px 0 inset $color-danger;
      }

      &::placeholder {
        color: $color-text-muted;
        text-align: right;
      }

      &[disabled] {
        opacity: 0.5;
      }

      &.form-autocomplete {
        padding-right: 2rem;
        background-position: right 0.5rem center!important;
      }
    }

    input[size] {
      max-width: 100%;
      width: 100%;
    }

    select {
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      appearance:none;
      padding-right: 2rem;
      position: relative;
      background: $color-bg-light url(../images/chevron-down.svg) right 0.5em top 0.5em no-repeat;
      background-size: 1em;

      &.error {
        border: 1px solid $color-text;
        box-shadow: 0 -3px 0 inset $color-danger;
      }

      &[disabled] {
        opacity: 0.5;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      margin-right: 0.5rem;
      width: 1em;
      height: 1em;
      vertical-align: baseline;
      position: relative;
      top: 0.1rem;

      &:focus {
        box-shadow: none;
      }

      &[disabled] {
        opacity: 0.5;
      }
    }
  }

  .form--inline {
    .form-item {
      margin-top: 0;
    }
  }

  .vertical-tabs {
    margin-left: 0;
  }
}

// Button base styles
.button,
input[type='button'],
input[type='submit'] {
  padding: 0.5rem 2rem;
  line-height: 1;
  border: 1px solid transparent;
  outline-offset: 0.25rem;
  display: inline-block;
  border-radius: 2px;

  // TODO Exclude classy component?
  margin-left: 0;
  margin-right: $grid-gutter;
  margin-bottom: $grid-gutter;

  &:first-child {
    margin-right: $grid-gutter;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:not([disabled]):hover {
    background: $color-interaction;
    color: $color-text-inverted;
    border-color: $color-interaction;
  }

  &:active {
    background: $color-text-inverted;
    border: 1px dashed $color-interaction;
    color: $color-interaction;
    background: $color-text-inverted;

    // TODO Secondary Derivate
    box-shadow: 0 0.25rem 0.125rem #483D8B3F;
    text-decoration: none;
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none; // Prevents hover&active changes.
  }
}


// Autocomplete widget select.
.ui-menu .ui-menu-item-wrapper {
  display: block;
  background-color: transparent;
  border: none;
  color: $color-text;

  &:hover, &:focus {
    background-color: $color-primary;
    color: $color-text-inverted;
    border: none;
  }
}

// TODO THIS IS BASICALLY OVERRIDING link DEFAULT
// WAS BEFORE : a, a.button, form .button,

.form-submit,
.view-header .button,
input[type="submit"],
button[type="submit"] {
  @include button-primary;
}

.form-submit.secondary,
.button.secondary,
a.button.secondary,
input[type="submit"].secondary,
.button[data-drupal-selector$=cancel],
.field-add-more-submit,
.button--small,
button[id*=remove] {
  @include button-secondary();
}

.form-submit.danger,
.button.danger,
a.button.danger,
input[type="submit"].danger {
  @include button-danger();
}

button.link {
  @include link-default;
}
