.paragraph--type--text-slider {
  margin-block: 2rem;

  blockquote {
    margin-block: 0 .5em;
  }
}

.paragraph--view-mode--slider-multiple .text-slider {
  gap: 1.25rem; // gutter

  figure {
    margin: 0;
  }

  figcaption {
    font-size: var(--font-size-s);
  }

  blockquote,
  blockquote p {
    font-size: var(--font-size-default);
    font-family: var(--font-base);
    line-height: initial;
    font-style: normal;
    color: var(--color-text);
  }

  blockquote {
    margin-block: .5rem;
    margin-inline: 0;

    p {
      padding-inline: 0;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}
