.paragraph--type--teaser-wrapper {
  margin-top: calc(3 * $grid-gutter);
}

// paragraphs behavior classes 


.style__slight_contrast,
.style__vivid_contrast {
  padding-bottom: 1px;

  .universal-teaser .field {
    margin: 0;
  }

  *[class^="oc-teaser--"] {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .oc-teaser--subtitle,
  .oc-teaser--description {
    padding-top: .25rem;
    padding-bottom: .5rem;
  }

}

.style__slight_contrast {
  background-color: var(--color-bg-slight-contrast);
}

.style__vivid_contrast {
  background-image: var(--color-gradient-blocks);

  *[class^="oc-teaser--"] {
    background-color: #ffffffcc;
  }
}

.paragraph--view-mode--slider {
  .slider-container {
    min-height: 5rem;
  }

  .universal-teaser {
    text-align: left;
  }

  .slider-nav::before,
  .slider-nav::after {
    top: -.5rem;
  }
}
