// ---------------------------------------
// View password module
// Related: icons.scss, forms.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

// Override module's CSS

button:not([disabled]).shwpd {
  background-image: unset;
  background-position: unset;
  vertical-align: unset;
  line-height: unset;
  @extend %button;
  @extend %icon-button;
  font-size: var(--oc-font-size-icon-l);
  color: var(--oc-color-interaction);
  border-color: transparent;
  background-color: var(--oc-input-bg-color);

  &::before {
    transform: translateY(-.25rem);
  }
}

#edit-pass {
  display: flex;
}


// Additional styles

.form-type-password {
  inline-size: 100%;
  max-inline-size: 43rem; // @todo Check
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;

  label {
    grid-row: 1;
  }

  input.form-text {
    grid-row: 2;
    grid-column: 1;
    inline-size: 100%;
    padding-inline-end: var(--oc-font-size-icon-xl);
  }

  .shwpd {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    align-self: center;
    justify-self: end;
  }

  .password-strength {

  }
}
