// ---------------------------------------
// View password module
// Related: icons.scss, forms.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

// Override module's CSS

button:not([disabled]).shwpd {
  @extend %button;
  @extend %icon-button;

  vertical-align: unset;
  color: var(--oc-color-interaction);
  border-color: transparent;
  background-color: var(--oc-input-bg-color);
  background-image: unset;
  background-position: unset;
  font-size: var(--oc-font-size-icon-l);
  line-height: unset;

  &::before {
    transform: translateY(-0.25rem);
  }
}

#edit-pass {
  display: flex;
}

// Additional styles

.form-type-password {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  inline-size: 100%;
  max-inline-size: 43rem; // @todo Check

  label {
    grid-row: 1;
  }

  input.form-text {
    grid-row: 2;
    grid-column: 1;
    inline-size: 100%;
    padding-inline-end: var(--oc-font-size-icon-xl);
  }

  .shwpd {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: end;
    margin: 0;
  }
}
