// ---------------------------------------
// COOKiES module (consent management)
// Redefine module's variables
// Override of custom cookies_popover module CSS
// ---------------------------------------

@use "../../../sass/abstracts" as *;

// ---
// Custom properties

#cookiesjsr {
  --cjsr-popover-backdrop-background: var(--oc-color-backdrop);
  --cjsr-popover-backdrop-filter: blur(3px);
  --cjsr-font-size-s: var(--oc-font-size-s);
  --cjsr-text-max-line: 80ch;
  --cjsr-color-main: var(--oc-color-interaction);
  --cjsr-color-base-light: var(--oc-color-bg-light);
  --cjsr-color-base-muted: var(--oc-color-slight-contrast);
  --cjsr-color-base-dark: var(--oc-text-color);
  --cjsr-color-switch: var(--oc-color-success);
  --cjsr-default-margin: var(--oc-gutter);

  // --cjsr-btn-font-color: var(--cjsr-color-base-light);
  // --cjsr-btn-border-color: var(--cjsr-color-base-light);
  // --cjsr-btn-bg-color: var(--cjsr-color-main);
  // --cjsr-btn-prime-font-color: var(--cjsr-color-base-light);
  // --cjsr-btn-prime-border-color: var(--cjsr-color-base-light);
  // --cjsr-btn-prime-bg-color: var(--cjsr-color-main);
  // --cjsr-btn-inv-font-color: var(--cjsr-color-main);
  // --cjsr-btn-inv-border-color: var(--cjsr-color-main);
  // --cjsr-btn-inv-bg-color: var(--cjsr-color-base-light);
  // --cjsr-btn-prime-inv-font-color: var(--cjsr-color-base-light);
  // --cjsr-btn-prime-inv-border-color: var(--cjsr-color-base-light);
  // --cjsr-btn-prime-inv-bg-color: var(--cjsr-color-main);
  // --cjsr-link-list-font-color: var(--cjsr-color-main);
  // --cjsr-link-list-separator-color: var(--cjsr-color-base-dark);
  // --cjsr-banner-logo-offset: 100px;
  // --cjsr-banner-bg-color: var(--cjsr-color-main);
  // --cjsr-banner-font-color: var(--cjsr-color-base-light);
  --cjsr-banner-box-shadow: var(--oc-box-shadow-up);

  // --cjsr-layer-header-bg-color: var(--cjsr-color-main);
  --cjsr-layer-header-font-color: var(--oc-color-text-inverted);

  // --cjsr-layer-body-bg-color: var(--cjsr-color-base-muted);
  // --cjsr-layer-tab-bg-color: var(--cjsr-color-base-muted);
  --cjsr-layer-tab-font-color: var(--oc-color-text);

  // --cjsr-layer-tab-active-bg-color: var(--cjsr-color-base-light);
  --cjsr-layer-tab-active-font-color: var(--oc-color-text);

  // --cjsr-layer-bg-dark: var(--cjsr-color-main);
  // --cjsr-layer-font-light: var(--cjsr-color-base-light);
  // --cjsr-layer-font-dark: var(--cjsr-color-base-dark)f37;
  --cjsr-layer-border-color: var(--oc-color-divider-dark);

  // --cjsr-layer-footer-bg-color: var(--cjsr-color-main);
  --cjsr-layer-footer-font-color: var(--oc-color-text-inverted);

  // --cjsr-switch-border-color: #d4d5d6;
  // --cjsr-switch-handle-color: var(--cjsr-color-base-light);
  --cjsr-switch-bg-off: var(--oc-color-bg-slight-contrast);

  // --cjsr-switch-bg-on: var(--cjsr-color-switch);
  // --cjsr-switch-width: 2.815em;
  // --cjsr-switch-height: 1.25em;
  // --cjsr-switch-always-on-font-color: var(--cjsr-color-switch);
  // --cjsr-switch-always-on-bg-color: var(--cjsr-color-base-light);
}

// Links + buttons

.cookiesjsr-links--row a {
  padding: 0.25em 1em;
  text-decoration: underline;
  color: var(--oc-color-link);

  &:focus,
  &:hover {
    color: var(--oc-color-text-inverted);
  }
}

.cookiesjsr--app {
  button.cookiesjsr-btn {
    @extend %button-small;

    margin-inline: 1rem;
    margin-block: 0.5rem;
  }
}

// ---
// Banner

.cookiesjsr-banner {
  gap: var(--oc-row-gap) var(--oc-gutter);
  padding: var(--oc-row-gap) calc(2 * var(--oc-gutter));

  .gin--vertical-toolbar & {
    inset-inline-start: var(--drupal-displace-offset-left);
  }
}

.cookiesjsr-banner .cookiesjsr-links--row a {
  padding: 0.25em 1em;
  text-decoration: underline;
  color: var(--oc-color-text-inverted);
}

// ---
// Settings layer

.cookiesjsr-layer {
  border: 0.125rem solid var(--cjsr-color-base-light);
  background-color: var(--oc-color-bg-light);
}

.cookiesjsr-layer__body {
  background-color: var(--oc-color-bg-slight-contrast);
}

.cookiesjsr-layer__title {
  @extend %label;
}

// see base/icons_base.scss
.cookiesjsr-layer .cookiesjsr-layer__close {
  @extend %icon-button;

  text-indent: unset;
  color: var(--oc-color-interaction);
  background-color: var(--oc-color-text-inverted);
  background-image: unset;
}

// ---
// Settings re-open button

button.editCookieSettings {
  @extend %button-small;
}

// In Video placeholder, when cookies off

.cookies-fallback {
  padding: 1.25rem 2.5rem;
  border-color: var(--oc-color-divider-light);

  .cookies-fallback--btn {
    @extend %button;
    @extend %button-small;

    margin-block-end: 1.5rem;
    text-transform: unset;
    min-block-size: unset;
  }

  // @todo review
  // keep for legacy reasons, becomes obsolete with button transform
  .cookies-fallback--link {
    @extend %button;

    padding: 0.5em 2em;
    font-size: unset;
    &:focus,
    &:hover {
      text-decoration: none;
      color: var(--oc-button-focus-text-color);
      background: var(--oc-button-focus-bg-color);
    }

    &:active {
      text-decoration: none;
      color: var(--oc-button-active-text-color);
      background: var(--oc-button-active-bg-color);
    }
  }
}

.cookies-fallback--wrap {
  inline-size: 100%; // "width"
  aspect-ratio: var(--oc-aspect-ratio-landscape);
}

// temporarily fixes https://www.drupal.org/project/cookies/issues/3350253
.cookies-fallback--video {
  background-color: var(--oc-color-bg-slight-contrast);
  background-image: none;
}

.cookies-fallback--text {
  padding-block-end: 1rem;
  color: var(--oc-color-text);
  font-size: var(--oc-font-size-s);
}
