// ---------------------------------------
// COOKiES module (consent management)
// Redefine module's variables
// ---------------------------------------

@use "../../../sass/abstracts" as *;

body #cookiesjsr {
  --default-margin: var(--oc-gutter);
  --font-size-reset: 1rem;

  --btn-font-color: var(--oc-button-text-color);
  --btn-border-color: var(--oc-button-border-color);
  --btn-bg-color: var(--oc-button-bg-color);
  --btn-prime-font-color: var(--oc-button-primary-text-color);
  --btn-prime-border-color: var(--oc-button-primary-border-color);
  --btn-prime-bg-color: var(--oc-button-primary-bg-color);
  --btn-inv-font-color: var(--oc-button-text-color);
  --btn-inv-border-color: var(--oc-button-border-color);
  --btn-inv-bg-color: var(--oc-button-bg-color);
  --btn-prime-inv-font-color: var(--oc-button-primary-text-color);
  --btn-prime-inv-border-color: var(--oc-button-primary-border-color);
  --btn-prime-inv-bg-color: var(--oc-button-primary-bg-color);

  --link-list-font-color: var(--oc-color-link-inverted);
  --link-list-separator-color: var(--oc-color-text-inverted);

  --banner-logo-offset: 100px;
  --banner-bg-color: var(--oc-color-bg-dark);
  --banner-font-color: var(--oc-color-text-inverted);

  --layer-header-height: 3.5em;
  --layer-header-bg-color: var(--oc-color-interaction);
  --layer-header-font-color: var(--oc-color-text-inverted);
  --layer-body-bg-color: var(--oc-color-bg-slight-contrast);
  --layer-tab-bg-color: var(--oc-color-bg-slight-contrast);
  --layer-tab-font-color: var(--oc-color-text);
  --layer-tab-active-bg-color: var(--oc-color-bg-light);
  --layer-tab-active-font-color: var(--oc-color-text);
  --layer-bg-dark: var(--oc-color-bg-light);
  --layer-font-light: var(--oc-color-text);
  --layer-font-dark: var(--oc-color-text);
  --layer-border-color: var(--oc-color-divider-dark);
  --layer-footer-bg-color: var(--oc-color-bg-slight-contrast);
  --layer-footer-font-color: var(--oc-color-text);
  --layer-footer-height: 4.5em;

  --switch-border-color: var(--oc-color-bg-slight-contrast);
  --switch-handle-color: var(--oc-color-bg-light);
  --switch-bg-off: var(--oc-color-bg-slight-contrast);
  --switch-bg-on: var(--oc-color-success);
  --switch-width: 2.75rem;
  --switch-height: 1.25rem;
  --switch-always-on-font-color: var(--oc-color-success);
  --switch-always-on-bg-color: transparent;
}

// Handle difficult media query-based widths

.cookiesjsr-layer {
  min-inline-size: 90vw;

  @include breakpoint(l) {
    min-inline-size: 70rem;
    max-inline-size: 70rem;
    inline-size: 100%;
  }

  @include breakpoint(xxl) {
  }
}

// Links below text

.cookiesjsr-service--links a {
  font-size: var(--oc-font-size-s);
}

.cookiesjsr-banner--links {
  font-size: var(--oc-font-size-default);
}

.cookiesjsr-links.links--row li a {
  text-decoration: var(--oc-underline);

  &:focus,
  &:hover {
    color: var(--oc-color-text-inverted);
  }

  &:active {
    color: var(--oc-color-text-inverted);
  }
}

// Settings overlay
// Icon see base/_icons-base.scss

.cookiesjsr-layer {
  .cookiesjsr-layer--close {
    --oc-font-size-icon: var(--oc-font-size-icon-default);
    @extend %icon-only;

    &::before {
      line-height: unset;
    }
  }

  .cookiesjsr-service-group--tab {
    // Override Button default
    border-radius: 0;

    &:active {
      border: .0625rem dashed var(--oc-color-text-inverted);
      outline: none;
    }

    // Add chevrons in mobile and add spacing
    @include icon(caret-down);

    // Pixel defined: @see libraries/cookiesjsr/styles/_vars.scss
    @media screen and (max-width: 767px ) {
      line-height: 1.6;
      background: var(--oc-color-bg-light);

      &:before {
        display: block;
        float: inline-end;
        font-size: var(--oc-font-size-icon-m);
        transition: transform var(--oc-transition-duration) var(--oc-transition-timing-function);
      }
    }
  }

  // Add a little space in mobile

  .cookiesjsr-service-group {
    // Pixel defined: @see libraries/cookiesjsr/styles/_vars.scss
    @media screen and (max-width: 767px ) {
      margin: 0 1.25rem 1.25rem;
    }
  }

  .cookiesjsr-btn {
    @extend %button;
  }

  // "Primary-button"
  .cookiesjsr-btn.important.invert {
    &:focus,
    &:hover {
      background: var(--oc-button-focus-bg-color);
      color: var(--oc-button-focus-text-color);
      border-color: var(--oc-button-focus-border-color);
      transform: unset;
    }
    &:active {
      color: var(--oc-button-active-text-color);
      background: var(--oc-button-active-bg-color);
      border-color: var(--oc-button-active-border-color);
    }
  }
}

// Banner

.cookiesjsr-banner {

  &.active {
    padding: var(--oc-gutter);
  }

  .cookiesjsr-banner--info {
    padding-block-start: var(--oc-gutter);
  }

  .links--row {
    padding-block-end: .25rem; // Keep some space for active-outline.
  }
}

.cookiesjsr-layer--label-all {
  font-size: var(--oc-font-size-xs);
}

// In Video placeholder, when cookies off

.cookies-fallback {
  border-color: var(--oc-color-divider-light);
  padding: 1.25rem 2.5rem;

  .cookies-fallback--btn {
    @extend %button;
    padding: .5em 2em;
    text-transform: unset;
    min-block-size: unset; // "min-height"
  }
  .cookies-fallback--link {
    @extend %button;
    font-size: unset;
    padding: .5em 2em;
    &:focus,
    &:hover {
      color: var(--oc-button-focus-text-color);
      background: var(--oc-button-focus-bg-color);
      text-decoration: none;
    }

    &:active {
      color: var(--oc-button-active-text-color);
      background: var(--oc-button-active-bg-color);
      text-decoration: none;
    }
  }
}

.cookies-fallback--wrap {
  inline-size: 100%; // "width"
  aspect-ratio: var(--oc-aspect-ratio-landscape);
}

// temporarily fixes https://www.drupal.org/project/cookies/issues/3350253
.cookies-fallback--video {
  background-image: none;
  background-color: var(--oc-color-bg-slight-contrast);
}

