// ---------------------------------------
// Press quotes paragraph (media_mention)
// ---------------------------------------

@use "../../sass/abstracts" as *;

.paragraph--type--media-mention {
  margin-block: var(--oc-row-gap);

  figure {
    padding-block: calc(2 * var(--oc-row-gap));
    padding-inline: var(--oc-gutter);
    background-color: var(--oc-color-bg-light);
    box-shadow: var(--oc-box-shadow-down);
  }

  blockquote {
    margin-block: 0;
    padding: 0;
    background-color: transparent;
    border-width: 0;
  }
  figcaption {
    background-color: transparent;
    font-weight: var(--oc-font-weight-normal);
  }
}

// ---
// Option: slight rotation
//
//.field--name-field-press-quotes > .field__items > .field__item {
//  &:nth-child(odd) {
//    transform: rotate(.5deg);
//  }
//  &:nth-child(even) {
//    transform: rotate(-.5deg);
//  }
//}
