// ---------------------------------------
// Accessibility (+ triggers paragraph
// ---
// Including corresponding field styles
// Related: field/field--accessibility.scss, base/_icons-ext.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

.field--name-field-accessibility {
  h3 {
    @extend %label;

    padding-block: 0;
  }
}

.paragraph--type--a11y-wheelchair {
  // Headline
  .label {
    --oc-font-size-icon: var(--oc-font-size-icon-l);

    margin-block: calc(-0.25 * var(--oc-font-size-icon)) 0;

    // text-indent: calc(-1.5 * var(--oc-font-size-icon-l));
    // margin-inline-start: calc(1.25 * var(--oc-font-size-icon-l));

    &::before {
      transform: translateY(0.5rem);
    }
  }

  // Field labels
  .field .field__label {
    // ignore field--label-inline
    display: block;
    letter-spacing: unset;
    text-transform: unset;
    font-size: var(--oc-font-size-default);
    font-weight: normal;
    inline-size: 100%;
  }
}

.terms--plain .field__label {
  margin-block-end: 0.75em;
}

.paragraph.paragraph--type--a11y-wheelchair {
  > .field__items > .field__item {
    font-weight: var(--oc-font-weight-medium);
  }
}

.a11y-yes .field__item {
  color: var(--oc-color-success);
}
.a11y-limited .field__item {
  color: var(--oc-color-danger-dark);
}
.a11y-no .field__item {
  color: var(--oc-color-danger);
}

// ---
// A11y fields in "sidebar"

.address-region .section--last .field--name-field-accessibility {
  @include breakpoint(l) {
    margin-block-start: calc(3.75 * var(--oc-font-size-xl));
  }
}

// ---
// Flexible columns because a11y information can differ a lot
// @todo Review (may be obsolete)

.field--name-field-accessibility:has(.paragraph--type--accessibility.paragraph--view-mode--default) {
  container: a11y / inline-size;
}

.paragraph--type--accessibility.paragraph--view-mode--default {
  > .field {
    float: inline-start;
    margin-block-end: var(--oc-row-gap);

    @container a11y (width > 48rem) {
      max-width: calc(6 * var(--oc-grid-step) - var(--oc-gutter));
    }

    @container a11y (width > 90ch) {
      max-width: calc(3 * var(--oc-grid-step) - var(--oc-gutter));
    }
  }

  .field--name-field-a11y-info {
    @container a11y (width > 90ch) {
      max-width: calc(6 * var(--oc-grid-step) - var(--oc-gutter));

      // float: inline-start;
      margin-inline-end: var(--oc-gutter);
    }
  }
}

.a11y--wheelchair.field {
  margin-block-end: var(--oc-row-gap);
}

.paragraph--type--accessibility {
  margin-block-end: var(--oc-row-gap);
}

.field--name-field-accessibility {
  // margin-block-start: var(--oc-section-spacing);

  > .field__items > .field__items {
    margin-block-end: var(--oc-row-gap);
  }

  // &:has(h2:first-child) {
  //  margin-block: 0;
  // }

  > h2 {
    column-span: all;
    margin-block: 0 var(--oc-row-gap);
  }
}

// ---
// All a11y/warnings field in a flat structure (view mode default)
// see field--accessibility.scss
