// ---------------------------------------
// Bookable event paragraph
// ---------------------------------------

@use "../../sass/abstracts" as *;

.paragraph--type--bookable-event {
  @extend %grid;
  @extend %grid-3;

  gap: 0 var(--oc-gutter);

  .profile--content {
    inline-size: 100%;
  }

  .field--name-field-body {
    order: -1;
  }

  // .field--name-field-body {
  //  grid-column: 1 / span 2;
  // }
  //
  // .field--name-field-media-multiple {
  //  grid-column: 1;
  //  grid-row: 2;
  // }
  //
  // .field--name-field-contact-person {
  //  grid-column: 2;
  //  grid-row: 2;
  // }

  @include breakpoint(m) {
    .field {
      grid-row: 1;
    }

    .field--name-field-body {
      grid-row: 1;
      grid-column: 1;
    }

    .field--name-field-media-multiple {
      grid-row: 1;
      grid-column: 2;
    }

    .field--name-field-contact-person {
      grid-row: 1;
      grid-column: 3;

      // grid-row: 1 / span 2;
    }
  }
}
