// ---------------------------------------
// Accessibility (+ triggers paragraph
// ---
// Including corresponding field styles
// Related: base/_icons-ext.scss
// ---
// Nested structure:
// - field--name-field-accessibility
//   * field__item > paragraph--type--accessibility
//     - field--name-field-trigger-warnings (> unlimited terms)
//     - field--name-field-a11y-features (> unlimited terms)
//     - field--name-field-a11y-info (> long text)
//   * field_item > paragraph--type--a11y-wheelchair (> max. 2 fields)
// ---------------------------------------

@use "../../sass/abstracts" as *;

.field--name-field-accessibility {
  h3 {
    @extend %label;
  }
}


.section--first .field--name-field-accessibility {
  > .field__items {
    @extend %grid;
    @extend %grid-3;
  }

  .field__item:first-child {
    grid-column: 1 / -2;
  }
}

.section--first .paragraph--type--accessibility.paragraph--view-mode--grid {
  .field__label {
    //margin-block-end: var(--oc-row-gap);
  }

  @extend %grid;
  @extend %grid-2;
  grid-row-gap: 0;

  @include breakpoint(m) {
    --oc-grid-item-count: 1;
  }

  @include breakpoint(xl) {
    --oc-grid-item-count: 2;
  }

  @include breakpoint(xl) {
    &:has(.field:nth-child(3)) .field:nth-child(2) {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }
}

.paragraph.paragraph--type--a11y-wheelchair.paragraph--view-mode--grid {
  // Headline
  .label {
    --oc-font-size-icon: var(--oc-font-size-icon-l);
    margin-block: -.333rem;
    text-indent: calc(-1.5 * var(--oc-font-size-icon-l));
    margin-inline-start: calc(1.25 * var(--oc-font-size-icon-l));

    &::before {
      transform: translateY(.5rem);
    }
  }

  // Field labels
  .field__label {
    letter-spacing: unset;
    text-transform: unset;
    font-weight: normal;
    font-size: var(--oc-font-size-default);
    // ignore field--label-inline
    display: block;
    inline-size: 100%;
  }
}

.section--first .paragraph.paragraph--type--a11y-wheelchair.paragraph--view-mode--grid {
  margin-block-start: var(--oc-row-gap);

  > .field__items > .field__item {
    font-weight: var(--oc-font-weight-medium);
  }
}

// @todo Add field keys as CSS classes for fields in paragraph--type--a11y-wheelchair
.a11y-yes {
  color: var(--oc-color-success);
}
.a11y-limited {
  color: var(--oc-color-danger-dark);
}
.a11y-no {
  color: var(--oc-color-danger);
}

// ---
// A11y fields in "sidebar"

.address-region .section--last .field--name-field-accessibility {
  @include breakpoint(l) {
    margin-block-start: calc(3.75 * var(--oc-font-size-xl));
  }
}
