// ---------------------------------------
// Paragraphs - generic styling
// ---
// Related: layout/layout-regions.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

// General spacing for certain types (caveat: do not add text/media paragraphs here)
.paragraph--type--view {
  margin-block-end: var(--oc-section-spacing);
}

// New common class for
// .paragraph--type--wrapper-section + .paragraph--type--teaser-wrapper
.wrapper-paragraph {
  padding-block: calc(0.75 * var(--oc-section-spacing)) var(--oc-section-spacing);
}

// No end padding for neighboring paragraphs w/o background
.field--name-field-content-paragraphs > .field__items > .field__item:has(> .paragraph:not([class*="style__"], [class*="inverted"])):has(+ .field__item > .paragraph:not([class*="style__"], [class*="inverted"])) .wrapper-paragraph {
  padding-block-end: 0;
}

// Respect headline margin when not side-by-side
.wrapper-paragraph:not(.paragraph--view-mode--grid):has(.field--name-field-heading) {
  padding-block-start: calc(0.5 * var(--oc-section-spacing));
}

// Unset default Views block margin
.paragraph--type--wrapper-section {
  .field__item:last-child > .paragraph--type--view {
    margin-block-end: 0;
  }
}

// Paragraphs behavior classes
// See: base/_reusables.scss

.paragraph.inverted,
.paragraph:is([class*="style__"]) {
  padding-inline: var(--oc-gutter);
}

.style__slight_contrast {
  background: var(--oc-bg-slight);
}

.style__vivid_contrast {
  background-image: var(--oc-bg-vivid);

  article.teaser {
    --oc-card-background: var(--oc-color-bg-light-opaque);
    --oc-card-border-width: 0;
  }
}

// Whitespoce for given and further custom classes (starting with "style__")

.wrapper-paragraph {
  &.inverted,
  &:is([class*="style__"]) {
    margin-inline: calc(-1 * var(--oc-page-padding-inline));
    padding-inline: var(--oc-page-padding-inline);
    margin-block-end: 0;
  }

  // Paragraph style inside a wrapper
  .paragraph--teaser {
    padding-block: calc(0.5 * var(--oc-row-gap));
    padding-inline: calc(0.5 * var(--oc-gutter));
    margin-block: calc(-0.5 * var(--oc-row-gap));
    margin-inline: calc(-0.5 * var(--oc-gutter));
  }
}

// Better use of whitespace when available
// related: field/field--text.scss

@container copy-area (width > 90ch) {
  .field--name-field-content-paragraphs {
    margin-inline-start: calc(1 * var(--oc-grid-step));

    .wrapper-paragraph,
    .paragraph--type--gallery {
      margin-inline-start: calc(-1 * calc(var(--oc-grid-step) + var(--oc-page-padding-inline)));
      padding-inline: var(--oc-page-padding-inline);
    }

    .wrapper-paragraph:not(.paragraph--view-mode--grid) {
      padding-inline-start: calc(2 * calc(var(--oc-grid-step)) + var(--oc-page-padding-inline));
    }

    .paragraph--type--gallery {
      padding-inline-start: var(--oc-page-padding-inline);
    }

    .field--name-field-body,
    .paragraph--type--download {
      margin-inline-start: calc(1 * var(--oc-grid-step)); // matches 2 steps for .field--name-body
    }

    // avoid additions
    .field--name-field-content-paragraphs,
    .paragraph--type--wrapper-section .field--name-field-body,
    .paragraph--type--wrapper-section .paragraph--type--download {
      margin-inline-start: 0;
    }
  }
}

// ...similar for text-heavy pages, but different query

.layout-text-heavy {
  @include breakpoint(l) {
    .field--name-field-content-paragraphs {
      margin-inline-start: calc(1 * var(--oc-grid-step));

      .field--name-field-body,
      .paragraph--type--download,
      .view.faq {
        margin-inline-start: calc(1 * var(--oc-grid-step)); // matches 2 steps for .field--name-body
      }

      // avoid additions
      .field--name-field-content-paragraphs,
      .field--name-field-content-paragraphs .field--name-field-body,
      .paragraph--type--wrapper-section .paragraph--type--download {
        margin-inline-start: 0;
      }
    }
    .block-field-blocknodepagebody {
      margin-inline-start: calc(2 * var(--oc-grid-step));
    }
  }
}

// Inverted style: adjust color variables

.inverted {
  --oc-card-background: color-mix(in oklab, var(--oc-color-bg-dark) 93%, var(--oc-color-bg-light));
  --oc-color-link: var(--oc-color-link-inverted);
  --oc-color-interaction: var(--oc-color-interaction-inverted);
  --oc-color-bg-hardly-any-contrast: color-mix(in oklab, var(--oc-color-bg-dark) 93%, var(--oc-color-bg-light));

  h2,
  h3,
  h4,
  p,
  li {
    color: var(--oc-color-text-inverted);
  }

  .swiffy-slider button {
    border-color: var(--oc-color-bg-dark);
  }
}
