// ---------------------------------------
// Wrapper section paragraph + included view fields
// ---
// Related:
// paragraph/teaser-wrapper/teaser-wrapper.scss (e.g. horizontal teasers based on available space)
// paragraph/paragraph.scss (generic classes/behaviours)
// views/views.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

// General styles wrapper_section has in common with teaser_wrapper: see paragraphs.scss

// View mode grid ("side by side" sets header, intro text + more link inline

.wrapper-paragraph.paragraph--view-mode--grid {
  // margin-block: var(--oc-section-spacing);
  @extend %grid;
  @extend %grid-headline-inline;

  gap: 0 var(--oc-gutter);

  .field--name-field-content-paragraphs {
    grid-column: 1 / -1;

    @include breakpoint(l) {
      grid-row: 1 / span 2;
      grid-column: 2 / -1;
    }
  }

  .intro-inline,
  .intro {
    grid-row: 1;
    grid-column: 1 / -1;

    @include breakpoint(l) {
      grid-column: 1;
    }
  }

  .field--name-field-heading {
    h2,
    h3,
    h4 {
      margin-block-start: var(--oc-card-margin-block);
      padding-block-start: 0;
      hyphens: manual;
    }
  }

  .more-link {
    grid-column: 1;
    align-self: end;
    margin-block-end: var(--oc-card-margin-block);

    @include breakpoint(l) {
      grid-row: 2;
    }
  }

  .paragraph--type--view {
    margin-block: 0;
  }

  // Modify standalone grid to fit in
  .view .views-infinite-scroll-content-wrapper,
  .view:not(:has(.views-infinite-scroll-content-wrapper)) {
    .view-content {
      grid-column: 1 / -1;
    }

    @include breakpoint(l) {
      --oc-grid-item-count: 2;
    }

    @include breakpoint(xl) {
      --oc-grid-item-count: 3;
    }
  }

  @include breakpoint(s) {
    --oc-grid-item-count: 1;
  }
  @include breakpoint(m) {
    --oc-grid-item-count: 2;
  }
  @include breakpoint(l) {
    --oc-grid-item-count: 3;
  }
  @include breakpoint(xl) {
    --oc-grid-item-count: 4;
  }
  @include breakpoint(xxl) {
    --oc-grid-item-count: 4;
  }
}

// Hide View redundant header/more link

.paragraph--type--wrapper-section {
  .view-header,
  .view .more-link,
  .block--title {
    display: none;
  }
}

// ---
// Adjust headline margin

.paragraph--type--wrapper-section.paragraph--view-mode--grid,
.intro-inline {
  h2 {
    margin-block-start: 0;
    padding-block-start: 0;
  }
}

.intro-inline :has(article.teaser) h2.block--title {
  margin-block-start: var(--oc-card-margin-block);
}

// ---
// OC Map block exceed block height overlays more-link

.paragraph--type--wrapper-section:has(.block-openculturas-map) .more-link {
  z-index: +2;
}

// Used for "text with media"

.paragraph--type--wrapper-section.paragraph--view-mode--grid:has(.paragraph--type--media) {
  @include breakpoint(m) {
    --oc-grid-item-count: 2;

    > .intro,
    > .more-link {
      padding-inline-end: var(--oc-grid-step);
    }
  }
}

// Side-by-side with Text paragraph: first text lines adjustment

.paragraph--view-mode--grid {
  .paragraph--type-text {
    padding-block-start: var(--oc-card-margin-block);
  }
  @include breakpoint(l) {
    .paragraph--type--text .field__item > *:first-child {
      margin-block-start: 0;
      padding-block-start: calc(calc(var(--oc-font-size-xl) * var(--oc-line-height-headings)) - var(--oc-font-size-default));
    }
    &:has(h2) .paragraph--type--text .field__item > {
      *:first-child:is(h3) {
        padding-block-start: 0.75em;

        // padding-block-start: calc(var(--oc-font-size-xl) * var(--oc-line-height-headings) - var(--oc-font-size-ml) * var(--oc-line-height-headings));
      }
    }
  }
}

.wrapper-paragraph .field.more-link {
  margin-block-start: calc(2 * var(--oc-row-gap));
}

// PoC Reverse every second container
// @todo Backlog: setting to set explicit wrapper class "reverse"

// .field--name-field-content-paragraphs .field__item:has(.paragraph--type--wrapper-section.paragraph--view-mode--grid:has(.paragraph--type--media)):nth-child(2n) {
//  @include breakpoint(m) {
//    .paragraph--type--wrapper-section.paragraph--view-mode--grid:has(.paragraph--type--media) {
//      > .intro,
//      > .more-link {
//        grid-column: 2;
//        padding-inline-end: 0;
//      }
//
//      > .field--name-field-content-paragraphs {
//        grid-column: 1;
//      }
//    }
//  }
// }
//
