// ---------------------------------------
// Address paragraph (including map)
// ---
// Related:
// - layout/layout-regions.scss
// - contrib/leaflet-maps.scss
// - base/icons.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

.address-container {
  --oc-grid-item-count: 1; // see layout-regions.scss
  @extend %grid;

  grid-template-areas:
    "address"
    "map"
    "links";
  grid-column: 1 / -1;
  background-color: var(--oc-color-bg-dark-translucent);
  gap: 0 var(--oc-gutter);

  &--address {
    grid-area: address;
  }
  &--links {
    grid-area: links;
  }
  &--map {
    grid-area: map;
  }

  @include breakpoint(m) {
    grid-template-areas:
      "address map"
      "links map";
    grid-template-columns: calc(3 * var(--oc-grid-step) - var(--oc-gutter)) auto;
    gap: 0;

    // margin-block-end: var(--oc-row-gap);
  }
}

.address-container {
  @extend %page-padding-outdent;

  @include breakpoint(s) {
    margin-inline: 0;
  }
}

.address-container--address {
  padding-block-start: var(--oc-row-gap);
  padding-inline-start: var(--oc-gutter);
}

.address-container--links {
  display: flex;
  flex-flow: row wrap;
  align-self: end;
  justify-content: flex-start;
  padding-block-end: var(--oc-row-gap);
  padding-inline-start: var(--oc-gutter);
  gap: var(--oc-row-gap) var(--oc-gutter);
}

.address-container--map {
  padding: var(--oc-row-gap) var(--oc-gutter);
}
