// ---------------------------------------
// Drupal messages (error, warning, success)
// Related: components/workflow-moderation.scss
// ---------------------------------------

@use "../abstracts/mixins" as *;

div[data-drupal-messages] {
  padding-block: var(--oc-row-gap) var(--oc-section-spacing);
}

.messages {
  --oc-font-size-icon: var(--oc-font-size-icon-xl);
}

.messages {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--oc-color-text);
  border-width: 0.125rem;
  border-style: solid;
  background-image: none;
  box-shadow: var(--oc-box-shadow-centered);
  gap: 0.5rem;
  padding-block: var(--oc-row-gap);
  padding-inline: 1rem 2rem;

  &:has(ul) {
    @include breakpoint(m) {
      align-items: flex-start;
    }
  }

  &::before {
    min-inline-size: var(--oc-font-size-icon);
    transform: translateY(0);
  }

  a,
  a:hover {
    // color: currentColor; // would need extra hover handling
    display: inline;
    text-decoration: var(--oc-underline);
    font-weight: var(--oc-font-weight-bold);
  }

  // margin-block-end: var(--oc-section-spacing); // tears blocks w/ background apart

  @include breakpoint(m) {
    flex-flow: row wrap;
    align-content: flex-start;
    padding-inline: var(--oc-gutter) calc(2 * var(--oc-gutter));
  }
}

// Icons: see base/icons.scss

.messages--error {
  border-color: var(--oc-color-danger);
  background-color: var(--oc-color-bg-danger);

  &::before {
    background-color: var(--oc-color-danger);
  }
}

.messages--status {
  border-color: var(--oc-color-success);
  background-color: var(--oc-color-bg-success);

  &::before {
    background-color: var(--oc-color-success);
  }
}

.messages--warning,
.messages--status:has(a[href*="/development/maintenance"]) {
  border-color: var(--oc-color-warning);
  background-color: var(--oc-color-bg-warning);

  &::before {
    background-color: var(--oc-color-warning-dark);
  }
}

.messages--info {
  border-color: var(--oc-color-info);
  background-color: var(--oc-color-bg-info);

  &::before {
    background-color: var(--oc-color-info);
  }
}

// Infobox
// OC utility class, used e.g. for permanent help text on user dashboard

.infobox {
  text-indent: calc(-1.333 * var(--oc-font-size-icon));
  color: var(--oc-color-info);
  background: var(--oc-color-bg-info);
  padding-block: var(--oc-row-gap);
  padding-inline: calc(1 * var(--oc-gutter) + var(--oc-font-size-icon)) calc(2 * var(--oc-gutter));
}
