/**
 * Helper mixin for setting sensible grid defaults depending on variables.scss.
 * This mixin will create a simple grid with $grid-column-count columns if no parameters are given.
 * Optionally you can define your own grid layout as needed by passing $columns and $area-names.
 *
 * @param $columns-definition
 *    A definition for grid columns like "3fr 3fr 6fr 4fr" or "repeat(8, 2fr)".
 * @param $area-names
 *    If you want to use named grid areas, you can pass name strings like "media text meta".
 *
 * @usage
 *    .gridContainer {
 *        // Includes the default grid with 16 columns.
 *        @include grid();
 *    }
 *
 *    .customGridContainer {
 *        // Includes a custom grid with 2 areas.
 *        @include grid(4fr 12fr, "sidebar main");
 *    }
 *
 *    .multiRowGridContainer {
 *        // Includes a custom grid with 2 areas and 3 rows.
 *        @include grid(4fr 12fr, "logo header" "sidebar main" "copy footer");
 *    }
 *
 */
@mixin grid($columns-definition: false, $area-names: false, $row-gap: 0) {
  display: grid;
  @if $columns-definition {
    grid-template-columns: $columns-definition;
  } @else {
    grid-template-columns: repeat($grid-column-count, 1fr);
  }
  @if $area-names {
    grid-template-areas: $area-names;
  }
  grid-template-rows: auto;
  max-width: $grid-layout-max-width;
  grid-column-gap: $grid-gutter;
  grid-row-gap: $row-gap;
}

@mixin content-grid-default() {
  grid-column: 2 / 16;

  @include breakpoint(m) {
    grid-column: 4 / 14;
  }
}

/**
 * Helper mixin for using breakpoints.
 *
 * @param $name
 *    The name of the breakpoint you want to use as defined in variables.scss.
 *
 * @usage
 *    .responsiveContainer {
 *        @include breakpoint(m) {
 *           padding: 1rem;
 *        }
 *    }
 */
@mixin breakpoint ($name: xs) {
  @media screen and (#{map_get($breakpoints, $name)}) {
    @content;
  }
}

/**
 * Helper mixin for quickly setting a font style from the list in variables.scss.
 *
 * @param $name
 *   The name of the font style as listed in variables.scss.
 *
 * @usage
 *    .textContainer {
 *        @include typo(h1);
 *    }
 */
@mixin typo ($name: body) {
  $definition: map_get($fontStyles, $name);

  @each $property, $value in $definition {
    #{$property}: $value;
  }

  @if $name == h1 {
    @include breakpoint(l) {
      font-size: map_get(map_get($fontStyles, $name), 'font-size') * 1.5;
      margin: map_get(map_get($fontStyles, $name), 'font-size') * 1.5 * 0.5 0;
    }
  }
}

/**
 * Helper mixin for setting default link style with css vars.
 */
@mixin link-default () {
  color: color(link);
  text-decoration: none;

  &.is-active {
    color: color(link);
  }

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }

  &:hover {
    color: color(link-hover);
  }

  &:focus {
    color: color(link-focused);
  }

  &:active {
    color: color(link-active);
  }

  &:visited {
    color: color(link-visited);
  }
}

/**
 * Helper mixin for setting inverted link style with css vars.
 */
@mixin link-inverted () {
  color: color(link-inverted);
  text-decoration: none;

  &.is-active {
    color: color(link-inverted);
  }

  &:hover, &:focus, &:active, &:visited {
    color: color(link-inverted-focused);
    text-decoration: underline;
  }
}

/**
 * Helper mixin for setting offcanvas link style with css vars.
 */
@mixin link-offcanvas () {
  color: color(link-offcanvas);
  text-decoration: none;

  &.is-active, &:visited {
    color: color(link-offcanvas);
  }

  &:hover, &:focus, &:active, &:visited {
    text-decoration: underline;
  }

  &:hover {
    color: color(link-offcanvas-hover);
  }

  &:focus {
    color: color(link-offcanvas-focused);
  }

  &:active {
    color: color(link-offcanvas-active);
  }
}

/**
 * Helper mixin for setting button primary styling.
 */
@mixin button-primary () {
  padding: 0.5rem 2rem;
  margin-right: $grid-gutter;
  @include typo(body);
  line-height: 1;
  color: color(link-inverted);
  background: color(button);
  border: 1px solid transparent;
  outline-offset: 0.25rem;
  cursor: pointer;
  font-weight: normal;
  display: inline-block;

  &:hover {
    background: color(button-hover);
    text-decoration: none;
  }

  &:focus {
    background: color(button-focused);
    text-decoration: none;
  }

  &:active {
    background: color(button-active);
    border-color: color(button-hover);
    color: color(button-hover);
    box-shadow: 0 0.25rem 0.125rem rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }

  &[disabled] {
    background: color(button);
    color: color(link-inverted);
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    text-decoration: none;
  }
}

/**
 * Helper mixin for setting button secondary styling.
 */
@mixin button-secondary () {
  padding: 0.5rem 2rem;
  margin-right: $grid-gutter;
  @include typo(body);
  line-height: 1;
  color: color(link);
  background: color(button-secondary);
  border: 1px solid color(link);
  outline-offset: 0.25rem;
  cursor: pointer;
  font-weight: normal;
  display: inline-block;

  &:hover {
    background: color(button-secondary-hover);
    border-color: color(button-secondary);
    color: color(link-inverted);
    text-decoration: none;
  }

  &:focus {
    background: color(button-secondary-focused);
    border-color: color(button-secondary);
    color: color(link-inverted);
    text-decoration: none;
  }

  &:active {
    background: color(button-secondary-active);
    border-color: color(button-secondary);
    color: color(button-secondary-focused);
    box-shadow: 0 0.25rem 0.125rem rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }

  &[disabled] {
    background: color(button-secondary-disabled);
    color: color(link);
    border-color: color(link);
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    text-decoration: none;
  }
}

/**
 * Helper mixin for setting button secondary styling.
 */
@mixin button-danger () {
  padding: 0.5rem 2rem;
  margin-right: $grid-gutter;
  @include typo(body);
  line-height: 1;
  color: color(link-inverted);
  background: color(button-alert);
  border: 1px solid color(white);
  outline-offset: 0.25rem;
  cursor: pointer;
  font-weight: normal;
  display: inline-block;

  @include icon(times) {
    margin-right: 0.5rem;
  };

  &:hover {
    background: color(button-alert-hover);
    color: color(link-inverted);
    text-decoration: none;
  }

  &:focus {
    background: color(button-alert-hover);
    color: color(link-inverted);
    text-decoration: none;
  }

  &:active {
    background: color(button-active);
    border-color: color(button-alert-active);
    color: color(button-alert-active);
    box-shadow: 0 0.25rem 0.125rem rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }

  &[disabled] {
    background: color(button-alert);
    color: color(link-inverted);
    border-color: color(link-inverted);
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    text-decoration: none;
  }
}

/**
 * Helper mixin for making an image fit to its's container.
 *
 * The expected behaviour will be like background-size: cover, but with real images.
 * Optionally it is possible to define a min-height or max-height.
 *
 * @param $max-height
 *   Optional max-height value.
 * @param $min-height
 *   Optional min-height value.
 *
 * @usage
 *    .imgContainer {
 *        @include image-fit();
 *    }
 */
@mixin image_fit ($max-height: false, $min-height: false) {
  .media--blazy,
  figure, picture {
    display: block;
    height: 100%;
    width: 100%;
  }
  img {
    @if $max-height != false {
      max-height: $max-height;
    }
    @if $min-height != false {
      min-height: $min-height;
    }
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/**
 * Helper mixin for giving an element the default offcanvas button style.
 * Optinally you can define an icon from the fontawesome library to be added to the button.
 *
 * @param $icon
 *   Optional icon from fontawesome to be added to the button.
 * @param $iconset
 *   Optional iconset for fontawesome library (f.e. for using "twitter" icon you have to define "fab" because it is
 *   in the "brands" set of fontawesome which has the shorthand "fab").
 *   Possible values with the free version: "fas" & "fab".
 *
 * @usage
 *    .offcanvasButtonElement {
 *        @include rounded_button();
 *    }
 *
 *    .offcanvasButtonElement {
 *        @include rounded_button(bars);
 *    }
 *
 *    .offcanvasButtonElement {
 *        @include rounded_button(twitter, fab);
 *    }
 */
@mixin offcanvas_button($icon: false, $iconset: fas, $position: before) {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: color(neutral-50);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  overflow: hidden;

  @include breakpoint(m) {
    font-size: 1.75rem;
  }

  @if $icon {
    @include icon($icon, $iconset, $position);

    &:#{$position} {
      text-decoration: none;
      text-align: center;
      vertical-align: bottom;
      line-height: 1.5;
      width: 100%;
      height: 100%;
      display: block;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

@mixin tag_links() {
  display: inline-block;
  background: color(neutral-10);
  color: color(neutral-60);
  padding: $grid-gutter*0.25 $grid-gutter;
  margin: 0 $grid-gutter $grid-gutter 0;
  border-radius: 0.75rem;
  text-decoration: none;

  &:visited {
    color: color(neutral-60);
  }

  &:hover, &:focus {
    background: color(neutral-40);
    color: color(white);
  }
}

/**
 * Helper mixin for adding an icon to an element via scss.
 * Optionally you can select another fontawesome set of icons.
 *
 * @param $icon
 *   The icon name in the fontawesome library (f.e. "arrow-up" or "bars").
 * @param $iconset
 *   Optional iconset for fontawesome library (f.e. for using "twitter" icon you have to define "fab" because it is
 *   in the "brands" set of fontawesome which has the shorthand "fab").
 *   Possible values with the free version: "fas" & "fab".
 * @param $position
 *   Optional overriding-posibility for the position of the icon. By default they are appended to a :before element.
 *   If for some reason you need the icon to be in the :after element, you can pass 'after' as the third parameter.
 *
 * @usage
 *    .elementWithArrowIcon {
 *        @include icon(arrow-up);
 *    }
 *
 *    .elementWithTwitterIcon {
 *        @include icon(twitter, fab);
 *    }
 *
 *    .elementWithTwitterIconAfterContent {
 *        @include icon(twitter, fab, after);
 *    }
 *
 */
@mixin icon($icon: arrow-right, $iconset: fas, $position: before) {
  &:#{$position} {
    @include fa-icon();
    @extend %#{$iconset};
    content: "#{map_get($fa-icons, $icon)}";
    @content;
  }
}

/**
 * Helper mixin for defining the circle size and styling, so it is consistent on every area on the page.
 */
@mixin profile_circle() {
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
  overflow: hidden;
  position: relative;

  .field {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  @include breakpoint(m) {
    width: 8rem;
    height: 8rem;
  }
}

/**
 * Helper mixin for defining social links styling.
 */
@mixin social_links() {
  margin: 0 auto $grid-gutter auto;
  width: fit-content;
  max-width: 100%;

  @include breakpoint(l) {
    @include grid(repeat(10, 1fr));
  }

  .field__item {
    display: block;
    width: fit-content;
    max-width: 100%;

    @include breakpoint(l) {
      &:nth-child(odd) {
        grid-column: 1/6;
      }
      &:nth-child(even) {
        grid-column: 7/11;
      }
    }

    &.field-email a {
      @include icon(envelope);
    }
    &.field-phone a {
      @include icon(phone);
    }
    &.field-url a {
      @include icon(globe);
    }

    a {
      padding: 0.25rem 0;
      margin: 0.25rem 0;
      display: inline-block;
      text-decoration: none;
      overflow: hidden;
      word-break: keep-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;

      .platform-url {
        display: none;
      }

      &:before, i {
        font-size: 1.5rem;
        vertical-align: bottom;
        margin-right: 0.5rem;
      }
    }
  }

}

@mixin form_background() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: color(primary-dark);
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

/**
 * Helper mixin for defining screenreader-only text.
 */
@mixin visually_hidden() {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/**
 * Default clearfix implementation to be used in conjunction with floating elements.
 *
 * @usage
 *    .box {
 *      @include clearfix;
 *    }
 */
@mixin clearfix () {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
