/**
  Setting the default color variables as a fallback.
  So if for any reason the sub theme or backend isn't able to override them there will be sensible defaults.
 */
:root {
  @each $name, $color in $defaultColors {
    --color-#{$name}: #{$color};
  }

  --color-text: #{color(neutral-60)};
  --color-text-muted: #{color(neutral-40)};
  --color-text-inverse: #{color(neutral-canvas)};

  --color-headline: #{color(neutral-60)};

  --color-link: #{color(primary)};
  --color-link-visited: #{color(primary)};
  --color-link-hover: #{color(primary)};
  --color-link-focused: #{color(primary-dark)};
  --color-link-active: #{color(primary)};

  --color-link-inverted: #{color(white)};
  --color-link-inverted-focused: #{color(neutral-10)};

  --color-link-offcanvas: #{color(neutral-60)};
  --color-link-offcanvas-hover: #{color(primary)};
  --color-link-offcanvas-focused: #{color(primary)};
  --color-link-offcanvas-active: #{color(primary)};

  --color-button: #{color(primary)};
  --color-button-hover: #{color(primary-dark)};
  --color-button-focused: #{color(primary-dark)};
  --color-button-active: #{color(white)}; // -> Schatten nach unten
  --color-button-disabled: #{color(primary)}80;

  --color-button-secondary: #{color(white)};
  --color-button-secondary-hover: #{color(primary-dark)};
  --color-button-secondary-focused: #{color(primary-dark)};
  --color-button-secondary-active: #{color(white)}; // -> Schatten nach unten
  --color-button-secondary-disabled: #{color(white)};

  --color-button-alert: #{color(danger)};
  --color-button-alert-hover: #{color(danger-dark)};
  --color-button-alert-focused: #{color(danger-dark)};
  --color-button-alert-active: #{color(danger-dark)}; // -> Schatten nach unten
  --color-button-alert-disabled: #{color(danger-dark)}80;

  --line-color: #{color(neutral-30)};
  --line-color-muted: #{color(neutral-20)};

}
