/**
 * Helper mixin for setting sensible grid defaults depending on variables.scss.
 * This mixin will create a simple grid with $grid-column-count columns if no parameters are given.
 * Optionally you can define your own grid layout as needed by passing $columns and $area-names.
 *
 * @param $columns-definition
 *    A definition for grid columns like "3fr 3fr 6fr 4fr" or "repeat(8, 2fr)".
 * @param $area-names
 *    If you want to use named grid areas, you can pass name strings like "media text meta".
 *
 * @usage
 *    .gridContainer {
 *        // Includes the default grid with 16 columns.
 *        @include grid();
 *    }
 *
 *    .customGridContainer {
 *        // Includes a custom grid with 2 areas.
 *        @include grid(4fr 12fr, "sidebar main");
 *    }
 *
 *    .multiRowGridContainer {
 *        // Includes a custom grid with 2 areas and 3 rows.
 *        @include grid(4fr 12fr, "logo header" "sidebar main" "copy footer");
 *    }
 *
 */
@mixin grid($columns-definition: false, $area-names: false) {
  @if $columns-definition {
    grid-template-columns: $columns-definition;
  } @else {
    grid-template-columns: repeat($grid-column-count, 1fr);
  }
  @if $area-names {
    grid-template-areas: $area-names;
  }
  grid-template-rows: auto;
  max-width: $grid-layout-max-width;
  grid-column-gap: $grid-gutter;
  grid-row-gap: 0;
  margin: 0 $grid-outer-margin;
}

/**
 * Helper mixin for using breakpoints.
 *
 * @param $name
 *    The name of the breakpoint you want to use as defined in variables.scss.
 *
 * @usage
 *    .responsiveContainer {
 *        @include breakpoint(m) {
 *           padding: 1rem;
 *        }
 *    }
 */
@mixin breakpoint ($name: xs) {
  @media screen and (#{map_get($breakpoints, $name)}) {
    @content;
  }
}

/**
 * Helper mixin for quickly setting a font style from the list in variables.scss.
 *
 * @param $name
 *   The name of the font style as listed in variables.scss.
 *
 * @usage
 *    .textContainer {
 *        @include typo(h1);
 *    }
 */
@mixin typo ($name: body) {
  font-family: map_get(map_get($fontStyles, $name), 'font-family');
  font-size: map_get(map_get($fontStyles, $name), 'font-size');
  font-weight: map_get(map_get($fontStyles, $name), 'font-weight');
  line-height: map_get(map_get($fontStyles, $name), 'line-height');
  text-transform: map_get(map_get($fontStyles, $name), 'text-transform');
  letter-spacing: map_get(map_get($fontStyles, $name), 'letter-spacing');
}

/**
 * Helper mixin for making an image fit to its's container.
 *
 * The expected behaviour will be like background-size: cover, but with real images.
 * Optionally it is possible to define a min-height or max-height.
 *
 * @param $max-height
 *   Optional max-height value.
 * @param $min-height
 *   Optional min-height value.
 *
 * @usage
 *    .imgContainer {
 *        @include image-fit();
 *    }
 */
@mixin image_fit ($max-height: false, $min-height: false) {
  .media--blazy,
  figure, picture {
    display: block;
    height: 100%;
    width: 100%;
  }
  img {
    @if $max-height != false {
      max-height: $max-height;
    }
    @if $min-height != false {
      min-height: $min-height;
    }
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/**
 * Default clearfix implementation to be used in conjunction with floating elements.
 *
 * @usage
 *    .box {
 *      @include clearfix;
 *    }
 */
@mixin clearfix () {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
