
// SCSS compiler entrypoint.
// This file defines the order in which scss components are loaded.


// Load all base systems / partials and variables.
@import "includes";

// Utility classes for Views and field formatters to be used in drupal backend.
@import "grid";

// Load all scss files in the template subfolders.
@import "../templates/**/*";
