// Grids
$utility_grids: (
  'grid-1': 1,
  'grid-2': 2,
  'grid-3': 3,
  'grid-4': 4
)!default;

// @TODO: Document this file and especially this selectors!
$utility_grids-container-selectors: '> .view-content, > .field__items, > .details-wrapper'!default;

// Set grid utility classes without breakpoint limitations.
@each $utility_name, $count in $utility_grids {
  .#{$utility_name} {
    #{$utility_grids-container-selectors} {
      @include grid(repeat($count, 1fr), $row-gap: $grid-gutter);
    }
  }
}

@for $i from 0 through 3 {
  .grid-gap-#{$i} {
    #{$utility_grids-container-selectors} {
      grid-gap: $grid_gutter * $i;
    }
  }
  .grid-row-gap-#{$i} {
    #{$utility_grids-container-selectors} {
      grid-row-gap: $grid_gutter * $i;
    }
  }
  .grid-column-gap-#{$i} {
    #{$utility_grids-container-selectors} {
      grid-column-gap: $grid_gutter * $i;
    }
  }
}

// Set grid utility classes with breakpoint limitations.
@each $bp_name, $query in $breakpoints {
  @each $utility_name, $count in $utility_grids {
    @include breakpoint($bp_name) {
      .#{$utility_name}-#{$bp_name} {
        #{$utility_grids-container-selectors} {
          @include grid(repeat($count, 1fr), $row-gap: $grid-gutter);
        }
      }
    }
  }

  @include breakpoint($bp_name) {
    @for $i from 0 through 3 {
      .grid-gap-#{$i}-#{$bp_name} {
        #{$utility_grids-container-selectors} {
          grid-gap: $grid_gutter * $i;
        }
      }
      .grid-row-gap-#{$i}-#{$bp_name} {
        #{$utility_grids-container-selectors} {
          grid-row-gap: $grid_gutter * $i;
        }
      }
      .grid-column-gap-#{$i}-#{$bp_name} {
        #{$utility_grids-container-selectors} {
          grid-column-gap: $grid_gutter * $i;
        }
      }
    }
  }
}

.grid-child-fullwidth {
  grid-column: 1 / -1;

  @include breakpoint(m) {
    grid-column: 1 / -1;
  }
}

.link-default {
  @include link-default;
}

.link-offcanvas {
  @include link-offcanvas;
}

.link-inverted {
  @include link-inverted;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
