// ---------------------------------------
// Basic (generic) page layout
// ---
// Related: base/_layout.scss (variables)
// header.scss, hero-layouts.scss, footer.scss,
// layout-regions.scss (scroll/overflow)
// ---------------------------------------

@use "../../sass/abstracts" as *;

// ---
// Layout basics

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0 auto;
  padding-block-start: var(--oc-page-margin-top);
  padding-block-end: var(--oc-page-margin-bottom);
  background-color: var(--oc-color-neutral-canvas);
  padding-inline: 0;
  scrollbar-color: var(--oc-scrollbar-color);
}

.layout-container,
footer.oc-base-section {
  inline-size: var(--oc-page-width);
  margin: 0 auto;
}

// ---
// Preprocess-provided header image duplicated as background

.layout-background {
  @include breakpoint(m) {
    position: fixed;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0;
    background-size: cover; // alternative: contain;
    background-blend-mode: multiply;
    inline-size: 100vw;
    block-size: 100vh; // alternative: calc(100vw / 2); // aspect ratio of header image style

    &::after {
      display: block;
      content: "";
      background-color: var(--oc-color-bg-page-backdrop);
      inline-size: 100vw;
      block-size: 100vh; // alternative: calc(100vw / 2);
      backdrop-filter: blur(20px);
    }
  }
}

// ---
// Now to the page content layout

// Set a minimum height for all system + content pages
main {
  min-block-size: 55vh;
}

// common class for all top-level wrappers
.oc-base-section {
  inline-size: var(--oc-page-width);
  margin: 0 auto;
  background-color: var(--oc-color-bg-page);
  padding-inline: var(--oc-page-padding-inline);
}

.is-empty.section {
  display: none;
}

footer.oc-base-section {
  padding: 0;
}

.footer--container {
  padding-inline: var(--oc-page-padding-inline);
}

// ---
// Generic elements defining the layout character

h2.block--title,
.intro-inline:has(h2) {
  margin-block-start: calc(0.5 * var(--oc-section-spacing));
}

// Lower headline font size in last layout column, leveled baseline

.section--last h2.block--title {
  font-size: var(--oc-font-size-ml);
  padding-block: calc(var(--oc-font-size-xl) * 0.25 + calc(var(--oc-font-size-xl) - var(--oc-font-size-ml)));
}

// .section-wrapper:not(.section-with-background) .section--last h2.block--title {
//  margin-block-start: 0;
//  padding-block-start: 0;
// }

.main__content {
  padding-block-end: var(--oc-section-spacing);
}

// ---
// Flags in layouts
// See: flag/flag.scss

// ---
// Layout block utility classes

.block-compact {
  --oc-block-size: 100%;

  max-inline-size: var(--oc-block-size);
  flex-basis: var(--oc-block-size);

  @include breakpoint(m) {
    --oc-block-size: calc(6 * var(--oc-grid-step) - var(--oc-gutter));
  }
  @include breakpoint(xl) {
    --oc-block-size: calc(3 * var(--oc-grid-step) - var(--oc-gutter));
  }
}

.block-compact.multi-value:has(> .field > .field__items > .field__item:nth-child(2)) {
  display: flex;
  flex-flow: column;

  > .field {
    inline-size: 100%;

    > .field__items {
      inline-size: 100%;
      display: flex;
      flex-flow: column;

      @include breakpoint(m) {
        flex-flow: row;
        gap: var(--oc-row-gap) var(--oc-gutter);

        > .field__item {
          flex-basis: calc(50% - calc(0.5 * var(--oc-gutter)));
        }
      }
    }
  }

  @include breakpoint(m) {
    max-inline-size: var(--oc-block-size);
    flex-basis: var(--oc-block-size);
  }

  @include breakpoint(xl) {
    --oc-block-size: calc(6 * var(--oc-grid-step) - var(--oc-gutter));
  }
}

.block-full-width {
  inline-size: 100%;
  flex-basis: 100%;
  grid-column: 1 / -1;
}

// ---
// Node location: address/map and accessibility blocks share a region; we let some blocks float

.address-region .section--first {
  display: flex;
  flex-flow: row wrap;
  gap: var(--oc-row-gap) var(--oc-gutter);
}

// @todo: float "full-width" block:has(.paragraph--view-mode--text-only) containing only few text
