.flag {
  position: relative;

  .flag--link {
    background-color: $color-primary;
    border-radius: 0 0 .3em .3em;
    color: $color-text-inverted;
    display: block;
    font-size: 1.5rem;
    height: 1.5em;
    overflow: hidden;
    width: 1.5em;

    &:before {
      display: block;
      height: 100%;
      line-height: 1.5;
      text-align: center;
      vertical-align: bottom;
      width: 100%;
    }

    .offcanvas--visually-hidden {
      @include visually_hidden;
    }

    .action-unflag & {
      background-color: $color-primary;
    }
  }


  .js-flag-message {
    position: absolute;
    right: calc(100% + #{$grid-gutter});
    text-align: right;
    top: 0;
    white-space: nowrap;
  }

  .ajax-progress-throbber {
    left: .25em;
    position: absolute;
    top: 0;
  }
}

.flag-bookmark-node,
.flag-bookmark-term {
  .flag--link {
    @include icon(bookmark);

    &:before {
      line-height: 1;
    }
  }
}

.flag-recommendation-node {

  .flag--link {
    @include icon(share-alt);

    &:before {
      line-height: 1.5;
    }
  }
}
