.flag--link {
  @extend .button;
  background-color: $color-primary;
  color: $color-text-inverted;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: pre;

  &:before {
    color: inherit;
    display: block;
    margin-right: .75rem;
  }

  &:focus,
  &:hover {
    background: $color-interaction;
    color: $color-text-inverted;
  }

  &:active {
    background: $color-interaction;
    color: $color-text-inverted;
    outline: $outline-active;
    outline-offset: 3px;
  }

  //  .action-flag &  {
  //}
  //.action-unflag &  {
  //}
}


.flag {
  position: relative;

  .js-flag-message {
    position: absolute;
    right: calc(100% + #{$grid-gutter});
    text-align: right;
    top: 0;
    white-space: nowrap;
  }

  .ajax-progress-throbber {
    left: .25em;
    position: absolute;
    top: 0;
  }
}

.flag-bookmark-node,
.flag-bookmark-term {

  .flag--link {
    @include icon(bookmark);

    &:before {
      line-height: 1;
    }
  }
}

.flag-recommendation-node {

  .flag--link {
    @include icon(share-alt);

    &:before {
      line-height: 1.5;
    }
  }
}

