nav.breadcrumb {
  padding-bottom: 0;

  ol {
    margin-bottom: $grid-gutter;

    li {
      &:before {
        content: '//';
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: color(link);
        font-size: size(small);
      }
    }
  }
}
