.breadcrumb {
  padding-bottom: 0;

  ol {
    margin-bottom: $grid-gutter;

    li {

      &:before {
        content: '//';
      }

      a {
        text-transform: uppercase;
        font-size: $font-size-s;
      }
    }
  }
}
