nav.breadcrumb {
  padding-bottom: 0;

  ol {
    margin-bottom: $grid-gutter;

    li {

      &:before {
        content: '//';
      }

      a {
        @include link-default;
        text-transform: uppercase;
        text-decoration: none;
        font-size: size(small);
      }
    }
  }
}
