.contextual {
  right: -33px;
  width: 32px;
  border-radius: 0 1rem 1rem 0;
  top: 0px;

  .trigger {
    margin: 2px 0 2px 3px;
    border-color: color(primary);
    border-width: 2px;
  }

  &.contextual-open .trigger, .focus & .trigger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background-position: 2px center;
    border-color: color(primary);
    border-width: 2px;
  }
}

.contextual-region.focus {
  outline-color: color(primary);
}
