.menu--main {
  ul.menu {
    margin: 0;
    padding: 0;

    > li > ul {
      margin-left: $grid-gutter;
    }
  }

  li.menu-item {
    list-style: none;
    position: relative;
    padding: 0;

    a {
      display: block;
      padding: 0.5rem 2.25rem 0.5rem 0;

      &:hover, &:focus {
        background: color(neutral-10);
        padding-left: 0.5rem;
        margin-left: -0.5rem;
      }
    }

    a.menu-item--toggle {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.4rem 0.5rem;
      //background-color: color(neutral-10);
      display: block;
      border-left: 1px solid color(white);
      @include icon(chevron-down);

      &:before {
        font-size: 1.5rem;
        vertical-align: middle;
      }
    }
  }

  // First level.
  > ul {
    > li {

      // Second level.
      > ul {
        > li {

          // Third level

          > ul {
            li {

            }
          }
        }
      }
    }
  }
}
