// see also ../field/field--extra-field-social-media-buttons.scss

.block-social-media-links-block {

  .block-social-media-links--wrapper {
    @include social-links;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

#oc--social-share--layer {
  background-color: #FFFFFFD9;
  position: relative;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: transform 300ms ease height 300ms ease width 300ms ease;
  transform: translate3d(100%, 0, 0);
}

.socialshare-open #oc--social-share--layer {
  height: auto;
  width: auto;
  position: absolute;
  top: -.333rem;
  left: 2rem;
  margin-bottom: -2.5rem;
  padding-right: .5rem;
  padding-top: .125rem;
  padding-bottom: .125rem;
  transform: translate3d(0, 0, 0);
  border-radius: $button-border-radius;
  z-index: +1;
}
