.block-openculturas-custom-page-title {
  margin-bottom: (2*$grid-gutter);
  @include breakpoint(m) {
    margin-bottom: $grid-gutter;
  }

  .page-title {
    margin-bottom: .5rem;
  }

  .sub-type {
    top: 1rem;
  }

  .page-subtitle {
    font-family: $font-base;
    font-size: $font-size-l;
    margin-top: 0;
  }

  .field {
    margin: 0;
  }
}

.custom-page-title--with-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 0rem;
  //margin-bottom: 2rem;

  .field--name-field-portrait {
    @include profile_circle;
    position: relative;
    top: -3rem;
    height: 6rem;
    width: 6rem;
    min-width: 6rem;
    margin: 0;
    border-width: 2px;
  }

  @include breakpoint(m) {
    margin-top: 1rem;
    //margin-bottom: 4rem;
    flex-flow: row nowrap;
    align-items: normal;
    text-align: left;

    .field--name-field-portrait {
      position: relative;
      top: $grid-gutter;
      margin-right: $grid-gutter;
    }
  }

}
