.block-openculturas-custom-hero-image {

  .field {
    margin: 0;
  }

  .media {
    position: relative;
    text-align: center;
    background-color: $color-bg-slight-contrast;

    img {
      //width: 100%;
    }
  }

  .field--type-attribution {
    position: absolute;
    //right: 1rem;
    right: 0.5em;
    top: 1em;
    max-width: 50%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }
}
