// see also ../field/field--extra-field-social-media-buttons.scss

.block-social-media-links-block {

  .block-social-media-links--wrapper {
    @include social_links;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

#oc--social-share--layer {
  background-color: white;
  position: relative;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: transform 300ms ease height 300ms ease width 300ms ease;
  transform: translate3d(100%, 0, 0);
}

.socialshare-open #oc--social-share--layer {
  height: auto;
  width: auto;
  top: -3.75rem;
  margin-bottom: -2.5rem;
  left: calc(3rem - 1px);
  padding-right: 4rem;
  padding-top: .125rem;
  padding-bottom: .125rem;
  transform: translate3d(0, 0, 0);
}
