.block-openculturas-custom-page-title {

  h1 {
    margin-bottom: .5rem;
  }

  h2 {
    font-family: $font-base;
    font-size: 1.5rem;
    margin-top: 0;
  }

  .field {
    margin: 0;
  }
}

.custom-page-title--with-image {
  @include grid(auto 1fr, 'image text' 'image text2');
  margin-bottom: .5rem;

  .field--name-field-portrait {
    @include profile_circle;
    grid-area: image;
    margin: $grid-gutter 0 0;
    max-width: 8rem;
  }

  h1 {
    grid-area: text;
  }

  h2 {
    grid-area: text2;
  }
}
