.block-openculturas-custom-hero-image {

  .field {
    margin: 0;
  }

  .media {
    position: relative;

    img {
      width: 100%;
    }
  }

  .field--type-attribution {
    display: none;
    position: absolute;
    //right: 1rem;
    right: 0;
    top: -2em;
    padding: .5em 1em;
    background-color: $color-bg-light;
    opacity: .75;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    max-width: 50%;
    text-align: right;
    @extend %small;

    @include breakpoint(m) {
      display: block;
    }

    .field__label {
      display: none;
    }
  }
}
