.block-views-blockoc-er-mod-states-block-states-info {
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding: 2rem 0;
  background: var(--color-bg-info);
  color: var(--color-info);
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 1.25rem;
  grid-template-columns: repeat(16, 1fr);

  > div:not(.contextual) {
    grid-column: 4 / -4;
  }
}

.referenced-states-info .description {
  margin-top: 1em;
}
