// ---------------------------------------
// Social media links block
// Used to edit site's social media accounts
// ---
// contrib/block--socialmedialinks.*, shariff
// Related:
// - field/social-media-links-platforms.scss
// - base/_icons-ext.scss
// - base/popovers.scss (popover anchor)
// - flag/flag.scss
// ---------------------------------------

@use "../../../sass/abstracts" as *;

.popover-content.share-toggle--popover-content {
  padding: 0.25rem 0;

  li {
    margin: 0;
  }
}

.share-toggle--popover-button {
  @extend %button-small;

  margin: 1.5rem 1rem 0 0; // keep aligned w/ flag button margin (see flag/flag.scss)
}

.popover-content .orientation-horizontal {
  display: flex;
  gap: 1rem;
  margin-inline: 1rem;

  a {
    @extend %icon-link;

    color: var(--oc-color-link);
    font-size: var(--oc-font-size-icon-m);

    span::before {
      margin-inline: 0.125em; // does not work with default icon margin
    }
  }
}

// Block in off-canvas menu

.block-social-media-links-block {
  ul.social-platforms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    gap: var(--oc-row-gap) var(--oc-gutter);
  }
}
