// ---------------------------------------
// Social media links
// used to allow users to add their contact sm accounts
// ---
// contrib/block--socialmedialinks.*, shariff
// Related:
// - field/social-media-links-platforms.scss
// - base/_icons-ext.scss
// - base/popovers.scss (popover anchor)
// ---------------------------------------


// Social media links field

@use "../../../sass/abstracts" as *;

.content ul.social-platforms {
  list-style: none;
  line-height: 1;
  margin-block: var(--oc-row-gap);
  display: flex;
  flex-flow: row wrap;
  gap: var(--oc-row-gap) var(--oc-gutter);

  li {
    padding: 0;
    margin: 0;
  }
}

.field-social {
  a {
    display: inline-block;
    @extend %icon-link;
    --oc-font-size-icon: var(--oc-font-size-icon-l);
  }
}
