.calendar .teaser--date,
.recurring-output--wrapper,
.date {
  background: $color_bg-slight-contrast;
  display: inline-block;
  padding: .25rem .5rem .25rem 2.5rem;
  margin-left: -2.5rem;
  line-height: 1;
  font-size: $font-size-s;

  .smart-date--time {
    font-weight: normal;
  }

  .smart-date--date {
    font-weight: bold;
    font-size: $font-size-l;
  }

  .item-list > ul {
    margin: 0;
    list-style-type: none;
    > li {
      margin: 0;
    }
  }
}

.recurring-output--wrapper {
  background: transparent;
  padding: 0;
  margin-left: 0;

  .smart-date--date {
    background: $color_bg-slight-contrast;
    padding: .25rem .5rem .25rem 2.5rem;
    margin-left: -2.5rem;
  }

  button {
    font-size: $font-size-default;
    @include icon(calendar-days) {
      margin-right: .5rem;
    }
  }

}

.add-to-calendar.modal {
  a {
    @extend %button;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
