.date {
  background: $color_bg-slight-contrast;
  display: inline-block;
  padding: .1rem .2rem;

  .datetime {
    font-size: $font-size-s;
  }

  .smart-date--date {
    font-weight: bold;
    font-size: $font-size-default;

  }

  .item-list > ul {
    margin: 0;
    list-style-type: none;
    > li {
      margin: 0;
    }
  }
}

// .date--compact {}
