.field--type-office-hours tbody th {
  width: 22ch;
}

.office-hours-status {
  &.office-hours-status--closed {
    color: var(--color-danger);
  }

  &.office-hours-status--open {
    color: var(--color-success);
  }
}
