.field {
  margin: 1rem 0;
  max-width: 100%; // Required by ff.
}

.field__item {
  > p:first-child {
    margin-top: 0;
  }
}

.field__label {
  @extend %label;
}

.field--label-inline {
  .field__label {
    padding-right: .75rem;
    position: relative;
    top: -.05em;
  }

  .field__items,
  .field__item,
  p {
    display: inline;
  }

  .field__item:not(:last-child):after {
    content: "//";
  }

  .field__item.field__item.reference--taxonomy_term:after {
    content: "";
  }

}
