.field--name-field-people-reference {
  @include grid(1fr, ".", $grid-gutter*2);
  margin: $grid-gutter 0;

  @include breakpoint(m) {
    @include grid(1fr 1fr, ". .", $grid-gutter*2);
  }
  @include breakpoint(l) {
    @include grid(1fr 1fr 1fr, ". . .", $grid-gutter*2);
  }

  .paragraph--type--member {
    text-align: center;
  }

  .field--name-field-member-function {
    font-size: size(h6);
  }

}
