.field--name-field-event-status .field__item   {
  background-color: var(--color-bg-dark);
  color: var(--color-text-inverted);
  display: inline-block;
  padding: 2px .25rem;

  .EventCancelled &,
  .EventPostponed & {
    background-color: var(--color-danger);
  }
  .EventScheduled & {
    background-color: transparent;
    color: var(--color-text);
    padding: 0;
  }

}
