// @todo move file to more generic map-related purpose

.leaflet-control-container {
  height: 100%;
}

.leaflet-marker-icon {
  color: $color-primary;
  position: relative;
  > i {
    // Re-adjust center.
    position: absolute;
    left: -0.5rem;
    bottom: 0.3rem;
  }
}

.leaflet-marker-pane {
  .marker-cluster-small,
  .marker-cluster-medium,
  .marker-cluster-large {
    background-color: transparent;
  }

  .marker-cluster div {
    color: $color-text-inverted;
    font-weight: bold;
    background-color: $color-link;
  }
}

.leaflet-container,
.marker-cluster div {
  font-family: var(--font-base);
}
