.leaflet-marker-icon {
  color: $color-primary;
  position: relative;
  > i {
    // Re-adjust center.
    position: absolute;
    left: -0.5rem;
    bottom: 0.3rem;
  }

  .marker-cluster-small,
  .marker-cluster {
    background: red;
  }
}

.leaflet-marker-pane {

  .marker-cluster-small {
    background-color: transparent;
  }

  .marker-cluster div,
  .marker-cluster-small div {
    color: $color-text-inverted;
    font-weight: bold;
    background-color: $color-bg-link-transparent;
  }
}
