.node--type-profile.node--view-mode-compact {
  text-align: left;

  @include grid(auto 1fr);
  align-items: center;
  //width: fit-content;
  //margin: 0 auto;

  .profile--picture {
    text-align: center;
  }

  .profile--content {
    h4, h3 {
      @include typo(teaser);
      margin: 0 0 0.25rem 0;
    }

    .field:first-child {
      margin-top: 0;
    }
    .field:last-child {
      margin-bottom: 0;
    }
  }
}
