.node--type-profile.node--view-mode-full {

  > .node__content {
    @include grid;

    > details, .field--type-text-with-summary {
      @include content-grid-default;
    }

    > .field--name-field-portrait {
      display: none;
    }

    > .slick--field-gallery {
      grid-column: 1/17;
    }
  }
}

.page-node-type-profile {
  .region-content > .block-system-main-block {
    grid-column: 1/17;
  }
}
