.node--type-profile.node--view-mode-embedded-teaser {
  .profile--picture {
    border-radius: 100em;
    overflow: hidden;
    background-color: color(neutral-20);
    width: 8.5rem;
    height: 8.5rem;
    display: inline-block;

    @include icon(user, fas, before);

    &:before {
      position: absolute;
      top: 2rem;
      left: 0;
      width: 100%;
      font-size: 4rem;
      color: color(white);
    }

    img {
      width: 100%;
      height: auto;
      position: relative;
    }
  }

  .profile--content {
    h4 {
      text-transform: none;
      font-weight: bold;
      margin: 0;
    }
  }
}
