.node--type-profile {
  .profile--picture {
    @include profile_circle;
    background-color: color(neutral-20);
    display: inline-block;

    @include icon(user, fas, before);

    &:before {
      position: absolute;
      top: 2rem;
      left: 0;
      width: 100%;
      font-size: 4rem;
      color: color(white);
    }

    img {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
}



