.node--type-profile.node--view-mode-teaser ,.node--type-profile.node--view-mode-embedded-teaser {
  .profile--content {
    h4 {
      text-transform: none;
      font-weight: bold;
      margin: 0;
      font-size: 1.5rem;
    }

    .field--name-field-subtitle {
      font-size: size(h6);
    }
  }
}
