.node--type-profile.node--view-mode-contact {
  text-align: center;

  .profile--content {
    h4, h3 {
      @include typo(teaser);
      margin: 0;
    }

    .field--name-field-subtitle, .field--name-field-contact-data {
      font-size: size(body);
    }
  }
}
