// ---------------------------------------
// Form elements
// Form input and field-specific non-color properties
// ---
// Buttons have a dedicated file, see _buttons.scss
// ---------------------------------------

%cc-forms {
  // forms
  --oc-form-field-padding-block: .5rem;
  --oc-form-field-padding-inline: 1rem;
  --oc-form-field-padding: var(--oc-form-field-padding-block) var(--oc-form-field-padding-inline);
  --oc-form-item-padding-block: 1rem;

  // form fields
  --oc-input-placeholder-color: var(--oc-color-text-muted);
  --oc-input-bg-color: var(--oc-color-bg-light);
  --oc-input-border-width: .0625rem; // 1px
  --oc-input-border-style: solid;
  --oc-input-border-color: var(--oc-color-divider-light) var(--oc-color-divider-light) var(--oc-color-divider-dark); // only possible separately. variant: transparent transparent transparent var(--oc-color-divider-dark)
  --oc-input-border: var(--oc-input-border-width) var(--oc-input-border-style) var(--oc-color-divider-dark);
  --oc-input-border-radius: 0;

  --oc-input-focus-border-style: solid;
  --oc-input-focus-bg-color: var(--oc-color-bg-light);
  --oc-input-focus-border-color: var(--oc-color-info);

  --oc-input-error-bg-color: var(--oc-color-bg-light);
  --oc-input-error-border-color: var(--oc-color-danger);
  --oc-input-error-border-style: var(--oc-input-border-style);
}
