// ---------------------------------------
// Icons
// ---
// Custom properties + placeholders
// Using SVG sprite, see: sprite/README.md, icon mixin in _mixins.scss
// Related: base/_icons-base.scss, base/_icons-ext.scss
// ---------------------------------------

%cc-icons {
  --oc-font-size-icon-default: 1rem;
  --oc-font-size-icon: 1em; // inherits from parent
  --oc-font-size-icon-m: 1.25rem;
  --oc-font-size-icon-l: 1.5rem;
  --oc-font-size-icon-xl: 2rem;
  --oc-font-size-icon-xxl: 3rem;
  --oc-icon-button-size: calc(1.5 * var(--oc-font-size-icon)); // inherit + padding
  --oc-icon-button-radius: 50%;
  --oc-chevron: url("../images/chevron-down.svg");
}

// mixin provides mask-image + adds placeholder to ::before or ::after
%icon {
  display: inline-block;
  content: "";
  transform: translateY(0.125em);
  vertical-align: baseline;
  background-color: currentColor;
  inline-size: var(--oc-font-size-icon);
  block-size: var(--oc-font-size-icon);
  mask: var(--icon-url) no-repeat center / contain;
}

%icon-before {
  &::before {
    margin-inline-end: 0.333em; // whitespace to text
    font-size: var(--oc-font-size-icon);
    inset-inline-start: -0.333em; // adjust button padding (mere decorative icons needs adjustment)
  }
}

%icon-after {
  &::after {
    font-size: var(--oc-font-size-icon);
  }
}

%icon-only {
  --oc-font-size-icon: var(--oc-font-size-icon-m);
  --oc-icon-button-size: calc(1.5 * var(--oc-font-size-icon));
  --oc-button-border-radius: 50%;
  --oc-button-padding: 0;

  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0.25rem solid transparent;
  border-radius: var(--oc-icon-button-radius);
  font-weight: normal;
  line-height: 1;

  // size: var(--icon-button-size); // not yet a standard
  inline-size: var(--oc-icon-button-size);
  min-inline-size: var(--oc-icon-button-size);
  block-size: var(--oc-icon-button-size);
  mask-clip: border-box; // allows enlarged target size via transparent border

  // pure icon buttons/links are expected to use ::before
  &::before {
    transform: translateY(0); // unset adjustment to text
    font-size: var(--oc-font-size-icon-m);
    margin-inline: 0;
    inline-size: 100%;
    block-size: 100%;
  }
}

%icon-button {
  @extend %icon-only;

  &:not([disabled]):focus-visible,
  &:not([disabled]):hover {
    padding: 0;
    color: var(--oc-button-focus-text-color);
    border-color: var(--oc-button-focus-border-color);
    background-color: var(--oc-button-focus-bg-color);
  }
}

%icon-link {
  @extend %icon-only;

  background-color: transparent;

  &:focus-visible,
  &:hover {
    color: var(--oc-color-link-focus-text);
    border-color: transparent;
    background-color: var(--oc-color-link-focus-bg);
  }
}

%icon-large {
  --oc-font-size-icon: var(--oc-font-size-icon-l);
  &::before {
    mask-size: 75%;
  }
}
