// ---------------------------------------
// Layout-related placeholders
// ---
// PLEASE NOTE: Basic layout variables are defined in base/_layout.scss
// ---
// Related:
// - base/_layout.scss
// - templates/layout.scss
// ---------------------------------------

@use "mixins" as *;

%cc-basic-spacings {
  --oc-gutter: 1.25rem; // Gap (horizontal) between layout columns.
  --oc-row-gap: 1.25rem; // Gap (vertical) between rows.
}

%cc-layout {
  // Page layout basics
  --oc-page-margin-top: 0;
  --oc-page-margin-bottom: 1rem;
  --oc-page-margin-sides: 0.25rem;
  --oc-page-padding-inline: 1rem;
  --oc-column-count: 12; // Amount of columns in the layout grid.
  --oc-column-padding: 0; // Horizontal padding inside a column.
  --oc-layout-max-width: 100rem; // Prevent layout becoming too wide on large screens.
  --oc-section-spacing: 3rem; // Vertically structuring spacing.

  // Hero header
  --oc-bg-hero-padding-inline: var(--oc-gutter); // set to 0 with transparent --oc-bg-hero-section
  --oc-bg-hero-padding-block: 0.5rem; // set to 0 with transparent --oc-bg-hero-section

  // Media ratios
  --oc-aspect-ratio-landscape: 16/9;
  --oc-aspect-ratio-portrait: 9/16;
  --oc-aspect-ratio-landscape-deriv: 16/8.9; // derivative: adjustment for teaser-unified
  --oc-aspect-ratio-mood: 2/1;
  --oc-hero-4-min-height: 50%; // adjust to aspect ratio, e.g. with 1/1 set to 100% (only applies in hero_layout_4)
  --oc-logo-min-width: 8rem;
  --oc-logo-max-width: 10rem;

  @include breakpoint(m) {
    --oc-page-margin-sides: 1.25rem;
    --oc-page-padding-inline: 1.5rem;
  }

  @include breakpoint(l) {
    --oc-page-padding-inline: 3.5rem;
    --oc-gutter: 2rem;
    --oc-section-spacing: 4rem;
  }

  @include breakpoint(xl) {
    --oc-page-margin-sides: 3rem;
  }

  @include breakpoint(xxl) {
    --oc-page-padding-inline: 5rem;
    --oc-section-spacing: 5rem;
  }
}

// ---
// To be wrapped in body -> base/_layout.scss
// Important: DO NOT change following calculations!

%cc-layout-computed {
  --oc-viewport-width: 100vw;
  --oc-gutter-count: calc(var(--oc-column-count) - 1);

  // Now we calculate the grid based on the given values
  --oc-page-width: calc(var(--oc-viewport-width) - calc(2 * var(--oc-page-margin-sides)));
  --oc-layout-width: calc(var(--oc-page-width) - calc(2 * var(--oc-page-padding-inline)));
  --oc-column-width: calc(calc(var(--oc-layout-width) - calc(var(--oc-gutter-count) * var(--oc-gutter))) / var(--oc-column-count));
  --oc-grid-step: calc(var(--oc-column-width) + var(--oc-gutter));

  // when Gin admin toolbar is present
  &.toolbar-horizontal {
    --oc-viewport-width: calc(100vw - var(--drupal-displace-offset-left));
  }

  @include breakpoint(xxl) {
    --oc-page-width: calc(var(--oc-layout-max-width) + calc(2 * var(--oc-page-padding-inline)));
    --oc-layout-width: var(--oc-layout-max-width);
    --oc-column-width: calc(calc(var(--oc-layout-max-width) - calc(var(--oc-gutter-count) * var(--oc-gutter))) / var(--oc-column-count));
  }
}

// DOES NOT WORK:
// body.gin--vertical-toolbar,
// body.gin--horizontal-toolbar,
// body.gin--classic-toolbar {
//  padding-block-start: calc(var(--oc-page-margin-top) + var(--gin-toolbar-y-offset)) !important;
//  padding-inline-start: calc(var(--oc-page-margin-sides) + var(--gin-toolbar-x-offset,256px)) !important;
// }

// ---
// Cover available space with image
// Note: apply to parent

%image-fill {
  @media screen {
    div:not(.attribution, .attribution-toggle, .contextual, .popover-content, .layout-builder__add-block),
    figure {
      inline-size: 100%;
      block-size: 100%;
    }

    img {
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
    }
  }
}

// "Out-dent" containers that have a dedicated background

%page-padding-outdent {
  margin-inline: calc(-1 * var(--oc-page-padding-inline));
}
