// ---------------------------------------
// Modal dialogs
// ---
// Related: jquery-ui.dialog.scss
// ---------------------------------------

%cc-dialogs {
  --oc-dialog-bg-color: var(--oc-color-bg-light);
  --oc-dialog-text-color: var(--oc-color-text);
  --oc-dialog-border: 0.0625rem solid var(--oc-color-interaction);
  --oc-dialog-titlebar-bg-color: var(--oc-color-interaction);
  --oc-dialog-titlebar-text-color: var(--oc-color-text-inverted);
  --oc-dialog-border-radius: 0.25rem;
}

%dialog-wrapper {
  color: var(--oc-dialog-text-color);
  border: var(--oc-dialog-border);
  border-radius: var(--oc-dialog-border-radius);
  background-color: var(--oc-dialog-bg-color);
  box-shadow: var(--oc-box-shadow-centered);
  font-size: var(--oc-font-size-default);
  font-weight: var(--oc-font-weight-normal);
  padding-block: 0.5rem;
  padding-inline: var(--oc-gutter) 0.5rem;

  &:has(.dialog-titlebar, .dialog-content, .ui-dialog-titlebar) {
    padding: 0;
  }
}

%dialog-titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--oc-dialog-titlebar-text-color);
  border-radius: var(--oc-dialog-border-radius) var(--oc-dialog-border-radius) 0 0;
  background-color: var(--oc-dialog-titlebar-bg-color);
  gap: 0 var(--oc-gutter);
  padding-block: 0.5rem;
  padding-inline: var(--oc-gutter) 0.5rem;
}

%dialog-content {
  padding-block: var(--oc-row-gap);
  padding-inline: var(--oc-gutter);
}

%dialog-buttonbar {
  display: flex;
  flex-flow: row wrap;
  gap: var(--oc-row-gap) var(--oc-gutter);
}
