// ---------------------------------------
// Layout builder
// Resets inherited styles that bother layout work
// ---------------------------------------

@use "../../sass/abstracts" as *;

// Amend default operations area
.layout-builder-form .form-actions {
  display: flex;
  gap: var(--oc-row-gap) var(--oc-gutter);

  .button {
    @extend %button;
    margin-block-end: 0;
  }

  .button.button--primary {
    @extend %button-primary;
  }
}

// Unset front-end special block placement
#layout-builder .layout-builder-block {
  inset: unset;
  inset-block-start: unset;
  position: relative;
  overflow: unset;
  display: block;
  inline-size: auto;
  block-size: unset;
}

#layout-builder {
  // _hero-layouts.scss
  &.layout-builder--content-preview-disabled #hero-region .section {
    display: block !important;
  }

  // _toggles.scss
  .contextual-region:has(.button-popover-trigger) .contextual {
    inset-inline-end: 0;
    inset-block-start: 0;
  }
}

// Flexbox

.layout-oc2col-section,
.layout-oc3col-section {
  display: flex;
  flex-flow: column;

  @include breakpoint(m) {
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: var(--oc-gutter);

    .layout-builder-form & {
      flex-flow: row;
    }
  }

  @include breakpoint(l) {
    flex-flow: row;
  }
}

.layout-oc2col-section {
  > .section--first:has(div) {
    flex: 1 1 calc(var(--oc-grid-step) * calc(var(--oc-column-count) - 3) - var(--oc-gutter));
  }

  > .section--second:has(div) {
    flex: 1 1 calc(calc(var(--oc-grid-step) * 3) - var(--oc-gutter));
  }

  .section--first:not(:has(div)) {
    flex: 0 0 0%;
  }

  > .section--first:not(:has(div)) + .section--second:has(div) {
    flex: 1 2 100%;
  }
}

.layout-oc3col-section {
  > .section:has(div) {
    @include breakpoint(m) {
      flex: 1 1 calc(var(--oc-grid-step) * calc(var(--oc-column-count) / 3) - var(--oc-gutter));
    }
  }
}

// ---
// Color overrides because layout builder is not prepared for dark mode

.layout-builder {
  border-color: var(--oc-color-interaction);
  background-color: var(--oc-color-bg-light);
}
.layout-builder__add-section {
  outline-color: var(--oc-color-link);
  background-color: var(--oc-color-bg-link-translucent);
}
.layout-builder__link--add {
  font-weight: var(--oc-font-weight-bold);
  color: var(--oc-color-interaction);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'%3e%3cpath fill='%23787878' d='M0.656,9.023c0,0.274,0.224,0.5,0.499,0.5l4.853,0.001c0.274-0.001,0.501,0.226,0.5,0.5l0.001,4.853 c-0.001,0.273,0.227,0.5,0.501,0.5l1.995-0.009c0.273-0.003,0.497-0.229,0.5-0.503l0.002-4.806c0-0.272,0.228-0.5,0.499-0.502 l4.831-0.021c0.271-0.005,0.497-0.23,0.501-0.502l0.008-1.998c0-0.276-0.225-0.5-0.499-0.5l-4.852,0c-0.275,0-0.502-0.228-0.501-0.5 L9.493,1.184c0-0.275-0.225-0.499-0.5-0.499L6.997,0.693C6.722,0.694,6.496,0.92,6.495,1.195L6.476,6.026 c-0.001,0.274-0.227,0.5-0.501,0.5L1.167,6.525C0.892,6.526,0.665,6.752,0.665,7.026L0.656,9.023z'/%3e%3c/svg%3e");
  padding: 1em 2em;
  border-radius: .5em;
  word-wrap: normal;
  white-space: nowrap;

  &:hover,
  &:active {
    color: var(--oc-color-link-focus-text);
  }
}

.layout-builder__section {
  & .ui-sortable-helper {
    outline-color: var(--oc-color-bg-hardly-any-contrast);
    background-color: var(--oc-color-bg-light);
  }
  & .ui-state-drop {
    outline-color: var(--oc-color-warning);
    background-color: var(--oc-color-bg-warning);
  }
}

.layout-builder__region {
  outline-color: var(--oc-color-interaction);
}
.layout-builder__add-block {
  background-color: color-mix(in oklab, var(--oc-color-interaction) 5%, transparent);
}

.layout-builder__link--remove {
  border-color: var(--oc-color-interaction);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23bebebe' d='M3.51 13.925c.194.194.512.195.706.001l3.432-3.431c.194-.194.514-.194.708 0l3.432 3.431c.192.194.514.193.707-.001l1.405-1.417c.191-.195.189-.514-.002-.709l-3.397-3.4c-.192-.193-.192-.514-.002-.708l3.401-3.43c.189-.195.189-.515 0-.709l-1.407-1.418c-.195-.195-.513-.195-.707-.001l-3.43 3.431c-.195.194-.516.194-.708 0l-3.432-3.431c-.195-.195-.512-.194-.706.001l-1.407 1.417c-.194.195-.194.515 0 .71l3.403 3.429c.193.195.193.514-.001.708l-3.4 3.399c-.194.195-.195.516-.001.709l1.406 1.419z'/%3e%3c/svg%3e") var(--oc-button-bg-color) center center / 1rem 1rem no-repeat;
  &:focus,
  &:hover {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M3.51 13.925c.194.194.512.195.706.001l3.432-3.431c.194-.194.514-.194.708 0l3.432 3.431c.192.194.514.193.707-.001l1.405-1.417c.191-.195.189-.514-.002-.709l-3.397-3.4c-.192-.193-.192-.514-.002-.708l3.401-3.43c.189-.195.189-.515 0-.709l-1.407-1.418c-.195-.195-.513-.195-.707-.001l-3.43 3.431c-.195.194-.516.194-.708 0l-3.432-3.431c-.195-.195-.512-.194-.706.001l-1.407 1.417c-.194.195-.194.515 0 .71l3.403 3.429c.193.195.193.514-.001.708l-3.4 3.399c-.194.195-.195.516-.001.709l1.406 1.419z'/%3e%3c/svg%3e") var(--oc-button-focus-bg-color) center center / 1rem 1rem no-repeat;
  }
}
.layout-builder-block {
  background-color: var(--oc-color-bg-light-translucent);
  .layout-builder--content-preview-disabled & {
    border-bottom-color: var(--oc-color-text-muted);
  }
}

.layout-builder__add-block.is-layout-builder-highlighted,
.layout-builder__add-section.is-layout-builder-highlighted,
.layout-builder__layout.is-layout-builder-highlighted::before,
.layout-builder__layout.is-layout-builder-highlighted,
.layout-builder-block.is-layout-builder-highlighted {
  border-color: var(--oc-color-text);
}

.layout__region-info {
  border-bottom-color: var(--oc-color-text-muted);
}

.layout-builder--content-preview-disabled .layout-builder-block {
  border-block-end: 1px dashed var(--oc-color-text-muted);
}

// Messages

// @todo Review in Drupal 11
.layout-builder__message--defaults .messages {
  background-image: none;
}

// Custom enhancements

.layout-builder__add-section .layout-builder__link--add {
  color: var(--oc-color-link);

  &:focus,
  &:hover {
    color: var(--oc-color-link-focus-text);
  }
}

.layout-builder__add-block {
  flex-basis: 100%;
  z-index: +1;
  align-self: end;
}

// When background color is applied

section[class*="style__"] {
  margin-inline: calc(-1 * var(--oc-page-padding-inline));
}

// Font sizes

.layout-builder-block__content-preview-placeholder-label {
  font-size: var(--oc-font-size-m);
}

// ---
// Adjustments for certain hero layouts

.oc_hero_layout_1 .layout-builder {
  @include breakpoint(l) {
    .section--mood {
      grid-row: 1;
      grid-column: 7 / -1;
    }
    .section--title {
      grid-row: 1;
      grid-column: 1 / -7;
    }
  }
}

// ---
// Essentials contains floated blocks
.layout-builder .section--essentials.interact {
  inline-size: 100%;
}


// ---
// Title block highlighting

#layout-builder .block-openculturas-custom-page-title {
  padding-block: 2.5rem;
  background-color: var(--oc-color-bg-info);
  font-size: var(--gin-font-size-xl);
  font-weight: bold;

  .contextual {
    font-weight: initial;
  }
}

#layout-builder:not(.layout-builder--content-preview-disabled) .block-openculturas-custom-page-title::before {
  content: '(Page title with subtitle)';
}

// ---
// Moderation container collapses in front-end (only)

.path-node #layout-builder .moderation--section:not(:has(.entity-moderation-form)) .section--first {
  inline-size: auto;
}
