.media--view-mode-download {

   .meta {
    color: var(--color-text-muted);
    font-size: var(--font-size-s);
    margin-left: 4rem;
    position: relative;
    top: -.5rem;
    left: -.25rem;
    padding: 1px .25rem;
    background-color: var(--color-bg-light);
  }
  
  .field__item {
    //border: 1px solid var(--color-link);
  }

  a.file {
    display: block;
    padding: 0 $grid-gutter 1.75rem 4rem;
    margin-bottom: -1.4rem;
    height: 100%;
    @include icon(download);
    &::before {
      font-size: 200%;
      margin-left: -3rem;
      width: 3rem;
      position: relative;
      top: 1rem;
    }

  }

}
