.media-library-selection {
  margin: $grid-gutter 0;

  button[id*="remove"] {
    @include icon(times) {
      margin-right: .5rem;
    };
  }
}

.media-library-views-form {
  flex-wrap: wrap;
  .views-field {
    .form-type-checkbox {
      @include visually-hidden;
    }
  }
}
