// ---------------------------------------
// Sponsor logos
// ---
// Related: components/swiffy-slider.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

.view-display-id-platform_sponsors_all .view-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--oc-row-gap) var(--oc-gutter);

  @include breakpoint(xl) {
    flex-flow: row;
  }
}
