.taxonomy-term {
  .taxonomy-term--tag {
    @include tag_links;
  }
}

.taxonomy-term.term--view-mode-teaser {

  .field {
    margin: 0;
  }

  .content.with-image {
    position: relative;
    overflow: hidden;

    .with-image--placeholder {
      aspect-ratio: 16/9;
      width: 100%;
      height: auto;
    }

    .taxonomy-term--tagwrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.5rem;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: color(link);
        opacity: 0.6;
        z-index: 1;
      }

      .taxonomy-term--tag {
        margin: 0;
        text-align: center;
        z-index: 2;
      }
    }

    img {
      aspect-ratio: 16/9;
      vertical-align: bottom;
      transition: transform 300ms ease;
      width: 100%;
      height: auto;
    }

    &:focus-within, &:hover {
      img {
        transform: scale(1.2);
        width: 100%;
        height: auto;
      }

      .taxonomy-term--tag {
        background: color(neutral-40);

        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}
