// ---------------------------------------
// Account menu toggle + popover
// ---
// Related:
// - templates/navigation/menu.scss
// - icons.scss
// - popovers.scss (Popover anchor)
// ---------------------------------------

@use "../../sass/abstracts" as *;

// unset regular menu style
.region-utilities-links .account-toggle--wrapper .menu {
  flex-flow: column;
  gap: 0;
  margin: 0;
}

// Toggle
.account-toggle--wrapper {
  .button-popover-trigger {
    @include icon(user);
  }
}
