// ---------------------------------------
// OpenCulturas Map module
// ---
// Related: contrib/leaflet-maps.scss
// ---------------------------------------

@use "../../sass/abstracts" as *;

.openculturas-map {
  &[data-dirty=true] {
    .openculturas-map--reload {
      opacity: 1;
    }
  }
}

// ---
// Reload (results update) button on map

.openculturas-map--reload {
  @extend %button;
  @extend %button-primary;
  @include icon(magnifying-glass);
  --oc-font-size-icon: var(--oc-font-size-icon-m);
  opacity: 0;
  transition: opacity var(--oc-transition-duration) var(--oc-transition-timing-function);
  translate: 0px -29rem; // relative to map height
  display: block;
  place-content: center;
  position: relative;
  margin-inline: auto;
  margin-block: 0;
  box-shadow: var(--oc-box-shadow-centered);
}

// ---
// Results list (teasers)

.openculturas-map--results-list {
  @extend %grid;
  @extend %grid-3;
}

.openculturas-map--results {
  .profile--content {
    padding-inline-end: calc(2 * var(--oc-font-size-icon));
  }

  // Amend reload button's virtual height here
  .view-header {
    position: relative;
    top: calc(-1 * (var(--oc-font-size-button-default) + 2 * var(--oc-button-padding)));
    z-index: +1;
  }
}

// space for map-link-wrapper
.openculturas-map .location,
.openculturas-map .field--name-field-address-data {
  padding-inline-end: var(--oc-font-size-icon);
}

.map-link-wrapper {
  position: absolute;
  inset-block-start: var(--oc-card-padding-block);
  inset-inline-end: calc(.25 * var(--oc-card-padding-inline));

  .node--type-event & {
    inset-block-start: calc(var(--oc-card-padding-block)  + .75rem); // adjust to headline margin
    inset-inline-end: calc(.5 * var(--oc-card-padding-inline));  }
}

.map-link.button {
  @extend %button;
  @extend %icon-button;
  border-color: transparent;
  margin-block-end: 0;
}

.openculturas-map--results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openculturas-map--results:has(.location-teaser) .map-link-wrapper {
  display: inline-flex;
  align-items: center;
  block-size: 100%;
  inset-block: 0 0;
}

.openculturas-map:not([data-dirty=true]) {
  .openculturas-map--results-counter {
    // Loading indicator
    &[aria-busy=true] {
      @extend %loading-indicator;
    }
  }
}

.openculturas-map--container {
  min-block-size: 20rem;
  position: relative;
  overflow: visible;
  z-index: +2;
}

// ---
// OC adjustments to Leaflet defaults (interaction elements)

.openculturas-map--leaflet {
  min-block-size: 30rem;
}

// ---
// Results filter block, toggleable
// See: views/views-exposed-forms.scss

// Results per page picker
.openculturas-map--results-picker > * {
  display: inline-block;
}
