// ---------------------------------------
// Media Download view mode
// ---------------------------------------

@use "../../sass/abstracts" as *;

.media--view-mode-download {
  --oc-font-size-icon: var(--oc-font-size-icon-xl);

  max-inline-size: fit-content;

  .file--download {
    padding: 0.75rem 2rem 0.75rem 1rem;
    border: 0.125rem solid var(--oc-color-link);
    max-inline-size: fit-content;
    margin-block: var(--oc-row-gap);

    &:has(a:hover, a:focus) {
      color: var(--oc-color-link-focus-text);
      background-color: var(--oc-color-link-focus-bg);
    }
  }

  a.file {
    @include icon(download-simple);

    display: inline-flex;

    &::before {
      position: relative;
      inset-inline-start: 0;
      inset-block-start: calc(-0.125 * var(--oc-font-size-icon));
    }
  }

  .meta {
    display: block;
    text-indent: calc(var(--oc-font-size-icon) * 1.333);
    color: currentColor;
    font-size: var(--oc-font-size-s);
  }
}

// Attribution toggle

.media--view-mode-download .attribution-toggle {
  position: absolute;
  inset-block: auto 0.5rem;
  inset-inline: auto 0.5rem;
  inline-size: var(--oc-icon-button-size);
  block-size: var(--oc-icon-button-size);
}
