// ---------------------------------------
// Media assets (images, remote video etc.)
// ---
// Related: field/field--media--field-licenses
// ---------------------------------------

@use "../../sass/abstracts" as *;

.media {
  img,
  iframe,
  video,
  audio {
    border-radius: var(--oc-image-border-radius);
  }

  .field {
    margin-block: 0;
  }

  p {
    margin: 0;
  }
}

// Let containers not grow larger than their content
.field--name-field-media {
  inline-size: max-content;
}

// General spacing

.text-formatted .media,
.paragraph--type--media,
.paragraph--type--gallery {
  margin-block: var(--oc-row-gap);
}

// ---
// Captions

.media figcaption:has(.field),
.paragraph--type--media .field--name-field-caption,
.text-formatted .media + figcaption {
  display: inline-block;
  border-width: var(--oc-caption-border-width);
  border-style: var(--oc-caption-border-style);
  border-color: var(--oc-caption-border-color);
  border-radius: var(--oc-caption-border-radius);
  background: var(--oc-bg-caption);
  padding-block: var(--oc-row-gap);
  padding-inline: var(--oc-gutter);
}

.text-formatted .media + figcaption {
  inline-size: 100%;
}

.media figcaption .field {
  padding: 0;
  color: var(--oc-color-text-caption);
  font-style: italic;
}

.field--name-field-caption p {
  margin-block: 0;
}

// ---
// Gallery

.media--view-mode-gallery {
  .field--name-name {
    font-weight: var(--oc-font-weight-semi-bold);
  }
}

// ---
// Audio player

.field--name-field-media-audio-file {
  @include icon(microphone-stage);

  display: inline-block;
  padding-block-start: 3rem;
  color: var(--oc-color-text-muted);
  background-color: var(--oc-color-bg-slight-contrast);
  max-inline-size: 42.5rem;

  &::before {
    display: block;
    margin: 0;
    transform: translateX(0) translateY(-40%);
    font-size: var(--oc-font-size-icon-xxl);
    padding-block: 0 2rem;
    inline-size: 100%;
    -webkit-mask-position-y: 0;
    mask-position-y: 0;
    mask-size: contain;
  }
}

// audio {
// }

// ---
// Profile pictures
// See: profile_teaser.scss

// ---
// Logo

.field--name-field-logo {
  padding-block: 0 1rem;
  padding-inline: 3rem;
  text-align: center;

  @include breakpoint(m) {
    float: inline-end;
    text-align: start;
    padding-inline: 3rem 0;
  }
}

// ---
// Sponsor logos
// prevent SVG logos w/o included width/height from rendering too small

.sponsors,
#supporters {
  .media {
    display: grid;
    block-size: 100%;
    inline-size: 100%;
    place-items: center;

    img {
      min-block-size: 4rem;
      max-block-size: 6rem;
      inline-size: auto;
      max-inline-size: 10rem;
    }

    img[src*=".svg"],
    svg {
      min-block-size: 5rem;
      block-size: 100%;
      inline-size: auto;
    }
  }
}

.media > {
  a:focus,
  a:hover {
    background-color: transparent;
  }
}
