// Re-usable classes

.inverted {
  background: $color-bg-dark;
  color: $color-text-inverted;

  a,
  a.is-active,
  a:visited,
  h2, 
  h3, 
  h4 {
  color: $color-text-inverted;
  }
}

// maps
.leaflet-container {
  margin-bottom: (2*$grid-gutter)
}

// media attribution aka. copyright info
.attribution {
  font-size: $font-size-s;
}
figcaption .attribution {
  font-weight: normal;
}

// Editor-embedded media 
.field--name-body,
.field--name-field-body {
  figure {
    .field {
      margin: 1rem 0; // use .field default
    }
  }
}
