// Button base styles
%button,
.button,
button,
input[type='button'],
input[type='submit'] {
  background: $color-bg-light;
  color: $color-interaction;
  border-width: 1px;
  border-style: solid;
  border-color: $color-interaction;
  border-radius: $button-border-radius;
  display: inline-block;
  //line-height: 1;
  margin-bottom: $grid-gutter;
  //margin-left: 0;
  //margin-right: $grid-gutter;
  //outline-offset: .25rem;
  padding: .5rem 2rem;
  text-decoration: none;

  //&:first-child {
  //  margin-right: $grid-gutter;
  //}

  .inverted & {
    border-color: $color-text-inverted;
  }

  &:focus,
  &:not([disabled]):hover {
    background: $color-interaction;
    color: $color-text-inverted;
  }

  &:visited {
    color: $color-interaction;
  }

  &:active {
    background: $color-bg-light;
    color: $color-interaction;
    border-color: $color-bg-light;
    outline: $outline-active;
  }

}

// Primary Style.
//.button[data-drupal-views-infinite-scroll-pager],
//input[type="submit"],
//button[type="submit"],
//.view-header .button, 
.form-submit {
  color: $color-text-inverted;
  background: $color-primary;
  border-color: $color-primary;

  &:visited {
    color: $color-text-inverted;
  }

}

%button-active {
  background: $color-interaction;
  border-color: $color-interaction;
  color: $color-text-inverted;

  &:focus,
  &:not([disabled]):hover {
    background: $color-bg-light;
    color: $color-interaction;
  }

}

// Danger/alert buttons (potentially destructive function).
%button-danger,
.form-submit.danger,
.button.danger,
.button--danger,
a.button.danger,
input[type="submit"].danger,
button[type="submit"].button--danger {
  color: $color-danger;
  background: $color-bg-light;
  border-color: $color-danger;
  @include icon(xmark) {
    margin-right: .5rem;
  }

  &:visited {
    color: $color-danger;
  }

  &:focus,
  &:not([disabled]):hover {
    background: $color-danger;
    border-color: $color-danger;
    color: $color-text-inverted;
  }

}

