select {
  background-image: url(../images/chevron-down-inv.svg);
}

button.shwpd {
  background-color: var(--color-interaction);
}
button:not([disabled]).shwpd:focus,
button:not([disabled]).shwpd:hover {
  background-color: var(--color-link);
}
