form {
  background: $color-bg-form;

  >.form--inline,
  >.form-item,
  >.form-wrapper,
  >details.form-wrapper,
  >p,
  >[id*=ajax-wrapper] {
    // Padding without adding padding to FORM Tag (which would mess up button positioning).
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
    width: auto !important;

    &:first-child {
      padding-top: $grid-gutter;
    }

    &:last-of-type {
      padding-bottom: $grid-gutter;
    }
  }
}

.description {
  @extend %small;
}

//.js-hide {
//  display: none !important;
//}


.form-textarea-wrapper,
.filter-wrapper {
  background: $color-bg-fieldset;

  .cke_top,
  .cke_contents,
  .cke_bottom {
    background: $color-bg-fieldset;
  }
  .filter-guidelines-item {
    margin: 0;
  }
}

.field-suffix .button {
  margin-bottom: $grid-gutter;
}

fieldset {
  background: $color-bg-fieldset;
  padding: $grid-gutter;

  summary,
  legend {
      @extend %allcaps;
    }

  &.error {
    border: 2px solid $color-danger;
    > legend {
      color: $color-danger;
    }
  }  
}

fieldset fieldset {
  background: transparent;
  padding: 0;
}

.form-required:after {
  background-image: none;
  color: $color-danger;
  content: '*';
  vertical-align: text-top;
}

.form--inline {
  .form-item {
    margin-top: 0;
  }
}

label {
  display: block;
  padding: .25rem;
  &.option {
    display: inline-block;
  }
}

input,
select,
textarea {
  padding: 0.5rem 1rem;
  background: $color-bg-light;
  border: 1px solid $color-divider-dark;

  &:focus {
    border-bottom-color: $color-info;
    box-shadow: 0 3px 2px 0 $color-info;
  }

  &.error {
    border-bottom-color: $color-danger;
    box-shadow: 0 3px 2px 0 $color-info;
  }
}

*::placeholder {
  color: $color-text-muted;
  text-align: right;
}

.form-autocomplete {
  background-position: right 0.5rem center!important;
  padding-right: 2rem;
}

// Responsive forms.
input[size] {
  max-width: 100%;

  //@media screen and (max-width: 48rem) {
  //  width: 100%;
  //}

}

select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  padding-right: 2rem;
  position: relative;
  background: $color-bg-light url(../images/chevron-down.svg) right 0.5em top 0.5em no-repeat;
  background-size: 1em;

}

input[type="checkbox"],
input[type="radio"] {
  height: 1em;
  margin-right: .5rem;
  position: relative;
  top: .1rem;
  vertical-align: baseline;
  width: 1em;
}


// Autocomplete widget select.
.ui-menu .ui-menu-item-wrapper {
  background-color: transparent;
  border: 0;
  color: $color-text;
  display: block;

  &:hover,
  &:focus {
    background-color: $color-link;
    border: 0;
    color: $color-text-inverted;
  }
}

// Autocomplete widget select Focus.
.ui-autocomplete,
.ui-dialog .ui-autocomplete {

  .ui-menu-item-wrapper.ui-state-active {
    margin: 0;
    color: $color-text-inverted;
    background-color: $color-interaction;
  }
}

*[disabled] {
  opacity: .5;
  pointer-events: none;
}

// Views exposed forms

.bef-exposed-form {
  border-width: 0 0 1px;

  > div,
  .form--inline .details-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: last baseline;
  }

  .bef--secondary {
    order: -1;
  }
}

// Gin overrides modals


.ui-dialog.ui-widget,
.ui-dialog.ui-widget .ui-dialog-content {
  font-family: inherit;
  color: inherit;
}

.ui-dialog.ui-widget:not(.ui-dialog-off-canvas) {
  border-radius: 2px;
}

.ui-dialog.ui-widget {
  .ui-dialog-titlebar {
    border-radius: 2px 2px 0 0;
    padding: .5rem $grid-gutter;
    background-color: var(--color-interaction);
  }

  .ui-dialog-title {
    font-size: var(--font-size-l);
  }

  .ui-dialog-titlebar-close {
    top: .5rem;
  }

  .ui-widget-content.ui-dialog-content {
    padding: $grid-gutter;
    background: var(--color-bg-light);
  }

  .ui-dialog-content .form-actions {
    margin: $grid-gutter;
    padding-bottom: $grid-gutter;
  }

  select, 
  input,
  button {
    font-family: inherit;
  }
}

