/* Makeshift CC buttons via text formatting (accessible) */

.attribution--license-icons {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: auto;
  height: calc(1rem + 4px + 0.25em); /* rem sic! */
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #000;
  /*  font-size 10px is closer to original but not accessible */
  font-size: smaller;
  font-size: var(--gin-font-size-xxs);
  font-weight: normal;
}

.attribution--license-icons .attribution--license-icons__license-identifier {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  height: 1rem;
  padding: 0.125em 0.25em;
  color: #fff;
  border: 1px solid #fff;
}

.attribution--license-icons i {
  padding: 0.125em 0 0;
  color: #fff;
  background-color: #000;
  font-style: normal;
  line-height: 1em;
}

.attribution--license-icons i:last-child {
  padding-right: 0.5em;
}

.attribution--license-icons b {
  background-color: #000;
}

.attribution--license-icons .cc-icon-cc-cc {
  position: relative;
  top: 0;
  left: calc(-0.25em - 2px);
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-right: -1em;
  padding: 0.25em;
  text-align: center;
  color: #000;
  border-radius: 50%;
  background-color: #aaa;
}

.attribution--license-icons .cc-icon-cc-cc span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em 0.25em 0 0;
  text-align: center;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  font-weight: bold;
  line-height: 1.25;
}

.attribution--license-icons .cc-icon-cc-by {
  padding-left: 1em;
}
