// Links under Text.
.cookiesjsr-links.links--row li a {
  text-decoration: underline;

  &:focus,
  &:hover {
    color: var(--color-text-inverted);
  }

  &:active {
    color: var(--color-interaction);
  }
}

// Settings overlay.
.cookiesjsr-layer {

  .cookiesjsr-layer--close {
    @include icon(xmark);
    background: none;
    color: var(--color-text);
    height: 2rem;
    margin: 0;
    text-indent: 0;
    width: 2rem;

    &:before {
      font-size: var(--font-size-icon);
      line-height: 2rem;
    }
  }

  .cookiesjsr-service-group--tab {
    // Override Button default.
    border-radius: 0;

    &:active {
      border: 1px dashed var(--color-text-inverted);
      outline: none;
    }

    // Add chevrons ▼ in mobile and add spacing.
    @include icon(chevron-down);
    &:before,
    &[aria-selected="true"]:before{
      display: none;
    }
    // Pixel defined: @see libraries/cookiesjsr/styles/_vars.scss
    @media screen and (max-width: 767px ) {
      line-height: 1.6;
      background: var(--color-bg-light);

      &:before {
        display: block;
        float: right;
        font-size: var(--font-size-icon);
        transition: transform 300ms ease;
        @media (prefers-reduced-motion: reduce) {
          transition-duration: 10ms;
        }
      }
    }
  }

  // Add a little space in mobile.
  .cookiesjsr-service-group {
    // Pixel defined: @see libraries/cookiesjsr/styles/_vars.scss
    @media screen and (max-width: 767px ) {
      margin: 0 1.25rem 1.25rem;
    }
  }

  .cookiesjsr-btn {
    @extend %button;
  }

  // "Primary-button"
  .cookiesjsr-btn.important.invert {
    &focus,
    &:hover {
      background: var(--color-interaction);
      color: var(--color-text-inverted);
      border-color: var(--color-interaction)
    }
    &:active {
      color: var(--color-text-inverted);
      background: var(--color-interaction);
    }
  }
}

// Banner.
.cookiesjsr-banner {

  &.active {
    padding: var(--grid-gutter);
  }

  .cookiesjsr-banner--info {
    padding-top: var(--grid-gutter);
  }

  .links--row {
    padding-bottom: .25rem; // Keep some space for active-outline.
  }
}

// In Video-placeholder,when cookies off.
.cookies-fallback {
  border-color: var(--color-divider-light);
  padding: 1.25rem 2.5rem;

  .cookies-fallback--btn {
    @extend %button-small;
    text-transform: unset;
    min-height: unset;
    margin: .5rem 0;
  }
  .cookies-fallback--link {
    @extend %button-small;
    font-size: unset;
    &:focus,
    &:hover {
      color: var(--color-text-inverted);
      background: var(--color-interaction);
      text-decoration: none;
    }

    &:active {
      color: var(--color-interaction);
      background: transparent;
      text-decoration: none;
    }
  }
}

.cookies-fallback--wrap {
  width: 100%;
  aspect-ratio: 16/9;
}

.cookies-fallback--text {
  font-size: var(--font-size-s);
  color: var(--color-text);
}

.cookies-fallback--video {
  background-image: none;
  background-color: var(--color-bg-slight-contrast);
}

// ---
// Update to Cookies 2.x

// ---------------------------------------
// COOKiES module (consent management)
// Redefine module's variables
// Override of custom cookies_popover module CSS
// ---------------------------------------

// ---
// Custom properties

.block-cookies-ui-block #cookiesjsr {
  //--cjsr-popover-backdrop-background: inherit;
  //--cjsr-popover-backdrop-filter: inherit;
  --cjsr--font-size-s: var(--font-size-s);
  --cjsr-text-max-line: 80ch;
  --cjsr-color-main: var(--color-bg-slight-contrast);
  --cjsr-color-base-light: var(--color-bg-light);
  --cjsr-color-base-muted: var(--color-bg-slight-contrast);
  --cjsr-color-base-dark: var(--color-text);
  --cjsr-color-switch: var(--color-success);

  --cjsr-default-margin: var(--grid-gutter);
  //--cjsr-btn-font-color: var(--cjsr-color-base-light);
  //--cjsr-btn-border-color: var(--cjsr-color-base-light);
  //--cjsr-btn-bg-color: var(--cjsr-color-main);
  //--cjsr-btn-prime-font-color: var(--cjsr-color-base-light);
  //--cjsr-btn-prime-border-color: var(--cjsr-color-base-light);
  //--cjsr-btn-prime-bg-color: var(--cjsr-color-main);
  //--cjsr-btn-inv-font-color: var(--cjsr-color-main);
  //--cjsr-btn-inv-border-color: var(--cjsr-color-main);
  //--cjsr-btn-inv-bg-color: var(--cjsr-color-base-light);
  //--cjsr-btn-prime-inv-font-color: var(--cjsr-color-base-light);
  //--cjsr-btn-prime-inv-border-color: var(--cjsr-color-base-light);
  //--cjsr-btn-prime-inv-bg-color: var(--cjsr-color-main);
  //--cjsr-link-list-font-color: var(--cjsr-color-main);
  //--cjsr-link-list-separator-color: var(--cjsr-color-base-dark);
  //--cjsr-banner-logo-offset: 100px;
  --cjsr-banner-bg-color: var(--color-bg-slight-contrast);
  --cjsr-banner-font-color: var(--color-text);
  //--cjsr-banner-box-shadow: var(--oc-box-shadow-up);
  --cjsr-layer-header-bg-color: var(--color-bg-slight-contrast);
  --cjsr-layer-header-font-color: var(--color-text);
  --cjsr-layer-body-bg-color: var(--color-bg-slight-contrast);
  //--cjsr-layer-tab-bg-color: var(--cjsr-color-base-muted);
  //--cjsr-layer-tab-font-color: var(--cjsr-color-base-dark);
  //--cjsr-layer-tab-active-bg-color: var(--cjsr-color-base-light);
  //--cjsr-layer-tab-active-font-color: var(--cjsr-color-base-light);
  //--cjsr-layer-bg-dark: var(--cjsr-color-main);
  //--cjsr-layer-font-light: var(--cjsr-color-base-light);
  //--cjsr-layer-font-dark: var(--cjsr-color-base-dark)f37;
  --cjsr-layer-border-color: var(--color-divider-dark);
  --cjsr-layer-footer-bg-color: var(--color-bg-slight-contrast);
  --cjsr-layer-footer-font-color: var(--color-text);
  //--cjsr-switch-border-color: #d4d5d6;
  //--cjsr-switch-handle-color: var(--cjsr-color-base-light);
  //--cjsr-switch-bg-off: var(--cjsr-color-base-muted);
  //--cjsr-switch-bg-on: var(--cjsr-color-switch);
  //--cjsr-switch-width: 2.815em;
  //--cjsr-switch-height: 1.25em;
  //--cjsr-switch-always-on-font-color: var(--cjsr-color-switch);
  //--cjsr-switch-always-on-bg-color: var(--cjsr-color-base-light);
}

.cookiesjsr-links.cookiesjsr-links--row a {
  padding: 0.25em 1em;
  text-decoration: underline;
  color: var(--color-link);

  &:focus,
  &:hover {
    color: var(--color-text-inverted);
  }
}

// ---
// Banner

.cookiesjsr-banner {
  gap: var(--row-gap) var(--grid-gutter);
  padding: var(--row-gap) calc(2 * var(--grid-gutter));

  .gin--vertical-toolbar & {
    inset-inline-start: var(--drupal-displace-offset-left);
  }
}

// ---
// Settings layer

//.cookiesjsr--app {
//  button.cookiesjsr-btn {
//    @extend %button-small;
//    margin-inline: 1rem;
//    margin-block: .5rem;
//  }
//}

// ---
// Settings re-open button in footer

button.editCookieSettings {
  @extend %button-small;
}
