.oc-details {
  border: 0;
  border-top: 1px solid $color-divider-light;
  margin: $grid-gutter 0 (2 * $grid-gutter);
  padding: $grid-gutter 0 0 0;

  > summary {
    list-style: none;
    padding: 0;
    position: relative;

    // Disable default marker element on webkit browsers.
    &::-webkit-details-marker {
      display: none;
    }

    > .h3 {
      @include icon(chevron-down, fas, before);
      display: inline-block;
      margin: 0 2rem 0 0;
      width: calc(100% - 2rem);

      &:hover,
      &:focus {
        color: $color-interaction;
      }

      &:before {
        position: absolute;
        right: 0;
        top: 0.15em;
        transition: transform 300ms ease;
      }
    }

    &.form-required {
      &:after {
        content: none;
      }

      h2 {
        &:after {
          content: '*';
          color: $color-danger;
        }
      }
    }

  }

  &[open] {
    > summary {
      > .h2,
      > .h3,
      > .h4,
      > .h5,
      > .h6 {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .details-wrapper {
    padding: 2 * $grid-gutter 0 0;
    > *:first-child {
      margin-top: 0;
    }
  }
}
