.layout-container {
  max-width: $grid-layout-max-width;
  margin: 0 auto;
  @include grid();
  background: color(white);

  header.header {
    grid-column: 2 / 16;
    grid-row: 1;
  }


  .hero-intro {
    grid-column: 1 / 17;
    grid-row: 2;
    margin-bottom: -2rem;

    @include breakpoint(m) {
      grid-column: 1 / 17;
      margin-bottom: -5rem;
    }
    @include breakpoint(l) {
      grid-column: 1 / 17;
      margin-bottom: -8.25rem;
    }

    .media {
      position: relative;

      img {
        width: 100%;
      }

      .field--type-attribution {
        display: none;
        position: absolute;
        right: 1rem;
        top: 0rem;
        transform: rotate(-90deg);
        transform-origin: bottom right;
        max-width: 50%;
        text-align: right;
        @include typo(small);

        @include breakpoint(m) {
          display: block;
        }

        .field__label {
          display: none;
        }
      }
    }
  }


  main.main {
    grid-column: 1 / 17;
    grid-row: 3;
    @include grid();

    .main__page-title {
      grid-column: 2 / 16;
      grid-row: 1;
      margin: 0 $grid-gutter*-1;
      background: color(white);
      position: relative;
      z-index: 10;
      min-height: 2rem;
      padding: 0 $grid-gutter;

      @include breakpoint(m) {
        grid-column: 3 / 15;
        @include grid(repeat(12, 1fr));
        margin: 0;
        padding: 0;
        min-height: 5rem;
      }

      @include breakpoint(l) {
        min-height: 8.25rem;
      }

      .custom-page-title--with-image {
        @include grid(auto 1fr, "image text" "image text2");
        .field--name-field-portrait {
          grid-area: image;
          max-width: 8rem;
          margin: $grid-gutter 0;
          @include profile_circle;
        }

        h1 {
          grid-area: text;
        }

        h2 {
          grid-area: text2;
        }
      }

      .region-pagetitle {
        margin: 0;

        h1 {
          margin-bottom: 0.5rem;
        }

        h2 {
          @include typo(h6);
          font-size: 1.5rem;
          margin-top: 0;
        }

        @include breakpoint(m) {
          grid-column: 2 / 12;
        }
      }
    }


    .main__content {
      grid-column: 1 / 17;
      grid-row: 2;
      margin: 0;

      .region-content {
        @include grid();
        min-height: 20rem;
        margin-bottom: $grid-gutter;

        > .grid-child-fullwidth {
          grid-column: 1 / -1;

          @include breakpoint(m) {
            grid-column: 1 / -1;
          }
        }
      }
    }
  }


  footer.footer {
    position: relative;
    grid-column: 2 / 16;
    grid-row: 4;
  }
}

// Basic layout for all blocks so they are not floating around.
// This is as simple as possible on purpose, so it can be overridden easily.
.region-content > .block {
  margin: $grid-gutter 0;
  grid-column: 2 / 16;
  @include breakpoint(m) {
    grid-column: 4 / 14;
  }
}
