html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: color(white);
  font-size: 100%;
  color: color(neutral-60);
  font-family: $font-base;

  * {
    box-sizing: border-box;
  }
}
