img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;

  figcaption {
    @include typo(small);
  }
}

// Set all profile images to be round regardless of context.
.media--view-mode-profile-image,
.media--type-user-profile-picture {
  img {
    overflow: hidden;
    border-radius: 100rem;
    vertical-align: bottom;
  }
}
