img, figure {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;

  figcaption {
    @include typo(small);
  }
}

.media--view-mode-profile-image {
  img {
    overflow: hidden;
    border-radius: 100rem;
    vertical-align: bottom;
  }
}
