.address-container {
  &--address {
    width: 100%;
    text-align: center;
    margin-bottom: $grid-gutter*2;

    @include icon(location-dot);
    &:before {
      color: $color-link;
      display: block;
      font-size: 3rem;
      margin-bottom: $grid-gutter;
    }
  }
}
